<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>

    <section class="parallax-window parallax-window--about">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="parallax__title">About The Company</h3>
            <p class="parallax__desc">Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum. Fusce blandit ultrices sapien, in accumsan orci rhoncus eu.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li class="active">About Us</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <section class="about-us-container bg-graffic">
      <div class="container">

        <div class="row">
          <div class="col-md-12">
            <h4 class="headtitle">ABOUT <b>US</b></h4>
            <div class="seperator seperator--full">
              <i class="icons icons--seperator icons--seperator--small"></i>
            </div>
            <div class="about-us-content">
              <p>Woodside Capital (WCIFX) is a financial services company, that enables both private persons and other companies to trade on the foreign exchange market or Forex. Our brokerage company was established in 2010 and our goal is to provide the newest technological solutions, which enable to take our clients' transactions straight to the exchange in realtime and transparancy. Our partners include large banks and funds, Also Prime Brokers whose liquidity is available to our clients. We use STP technology, which enables us to offer the best terms of trade to our clients, without any intervention from a dealer, thus ruling out the human factor.</p>
              <p>We have great experience in the field of interactive trading and we offer only the best solutions to our clients. It is very important to us, that our clients feel comfortable and safe in our environment. That is why our team of professionals is available round the clock, five days a week.</p>
            </div>
          </div>
        </div>

        <hr>
        
        <div class="row">
          <div class="col-md-7">
            <p class="about-us__desc">Adamant Finance – a state-of-the-art method for trading – unbelievably low commission charges, no transactions rejected, STP and DMA systems, complete transparency and the newest trading opportunities.</p>
          </div>
          <div class="col-md-5">
            <div class="about-us__link">
              <a href="" class="btn btn-primary"><i class="icons icons--trade"></i>Term Of Trading</a>
              <a href="" class="btn btn-primary"><i class="icons icons--card"></i>Payment Solution</a>
              <a href="" class="btn btn-primary"><i class="icons icons--money"></i>Invesment</a>
              <a href="" class="btn btn-primary"><i class="icons icons--computer"></i>Demo Account</a>
              <a href="" class="btn btn-primary"><i class="icons icons--payment"></i>Payment Solution</a>
              <a href="" class="btn btn-primary"><i class="icons icons--partner"></i>Partnership Programme</a>
            </div>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-12">
            <div class="about-us-partner row">
              <div class="col-md-2">
                <h4 class="about-us-partner__title">Partners</h4>
              </div>
              <div class="col-md-10">
                <img class="about-us-partner__image" src="images/icon-partner.jpg" class="img-responsive">
              </div>
            </div>
          </div>
        </div>

        <hr>

        <div class="row mtl">
          <div class="col-md-12">
            <h4 class="headtitle">Having <b>questions?</b></h4>
            <h5 class="subheadtitle">Contact any of our departments!</h5>
            <div class="seperator seperator--full">
              <i class="icons icons--seperator icons--seperator--small"></i>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="question-box">
              <h4 class="question-box__title">General<br>questions</h4>
              <div class="question-box__icons">
                <i class="icons icons--comment"></i>
              </div>
              <div class="question-box--info">
                <span class="question-box__info">M: info@adamantfinance.com</span>
                <span class="question-box__info">S: info.adamantfinance</span>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="question-box">
              <h4 class="question-box__title">Technical<br>questions</h4>
              <div class="question-box__icons">
                <i class="icons icons--gear"></i>
              </div>
              <div class="question-box--info">
                <span class="question-box__info">M: info@adamantfinance.com</span>
                <span class="question-box__info">S: info.adamantfinance</span>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="question-box">
              <h4 class="question-box__title">Financial<br>questions</h4>
              <div class="question-box__icons">
                <i class="icons icons--user"></i>
              </div>
              <div class="question-box--info">
                <span class="question-box__info">M: info@adamantfinance.com</span>
                <span class="question-box__info">S: info.adamantfinance</span>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="question-box">
              <h4 class="question-box__title">Technical<br>questions</h4>
              <div class="question-box__icons">
                <i class="icons icons--people"></i>
              </div>
              <div class="question-box--info">
                <span class="question-box__info">M: info@adamantfinance.com</span>
                <span class="question-box__info">S: info.adamantfinance</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <% include partials/footer %>

    <% include partials/scripts %>
  </body>
</html>