<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>

    <div class="parallax-window parallax-window--businnes">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="parallax__title">About The Company</h3>
            <p class="parallax__desc">Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum. Fusce blandit ultrices sapien, in accumsan orci rhoncus eu.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li class="active">Businnes</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <section class="businnes bg-graffic">
      <div class="container businnes-container">
        <div class="row">
          <div class="col-md-4">
            <section class="businnes-content businnes-content--left">
              <h4 class="subheadline"><b>TRADING</b> <i class="icons icons--seperator icons--seperator--small"></i></h4>
              <ul class="businnes-gotolink">
                <li><a href="">real account</a></li>
                <li><a href="">demo account</a></li>
                <li><a href="">trading  instrument</a></li>
                <li><a href="">payment method</a></li>
              </ul>
              <h4 class="subheadline"><b>invesment</b> <i class="icons icons--seperator icons--seperator--small"></i></h4>
              <ul class="businnes-gotolink">
                <li><a href="">invesment program 1</a></li>
                <li><a href="">invesment program 2</a></li>
              </ul>
            </section>
          </div>

          <div class="col-md-8">
            <div class="businnes-content businnes-content--right">
              <h4 class="subheadline">history of the <b>forex</b> <i class="icons icons--seperator icons--seperator--small"></i></h4>
              <p>The modern foreign exchange market was born in 1973, when leaders of great world powers decided, that currencies of different countries should no longer be tied to the value of the US dollar.</p>

              <p>Fixed exchange rates were replaced by freely changing exchange rates, which created the perfect conditions for currency speculation and using it to earn a hefty profit.</p>

              <p>The Forex market became especially popular near the end of the 1990s, when global trading environments became interactive. This made it possible for private capital to flow to the international currency exchange market, which in turn increased the liquidity and sales volume of the market.</p>

              <p>The daily sales volume of the Forex market is 4 trillion dollars. That's an incredible amount of money. This progress has been been greatly hastened by the progress of the computer age, which has enabled increasingly better access for all who wish to participate.</p>

              <hr>

              <h4 class="subheadline">Participants of <b>the Forex market</b><i class="icons icons--seperator icons--seperator--small"></i></h4>
              
              <ul class="businnes-participants row mbl">
                <li class="col-md-6"><i class="glyphicon glyphicon-ok-circle"></i>Central banks </li>
                <li class="col-md-6"><i class="glyphicon glyphicon-ok-circle"></i>Commercial banks </li>
                <li class="col-md-6"><i class="glyphicon glyphicon-ok-circle"></i>Investment banks</li>
                <li class="col-md-6"><i class="glyphicon glyphicon-ok-circle"></i>Pension funds</li>
                <li class="col-md-6"><i class="glyphicon glyphicon-ok-circle"></i>Insurance companies </li>
                <li class="col-md-6"><i class="glyphicon glyphicon-ok-circle"></i>Small investors</li>
              </ul>

              <h4 class="subheadline">How do transactions on the <b>Forex market take place?</b> <i class="icons icons--seperator icons--seperator--small"></i></h4>

              <p>Nowadays all transactions take place on interactive trading platforms. Traders receive information on prices in real time and are able to buy and sell at any moment. <a href="" class="link=read-details">Read details..</a></p>

              <button class="btn btn-primary btn-lg">Open Demo Account</button>

              <hr>

              <h4 class="subheadline">Company Revenue <b>/ Profit Report</b> <i class="icons icons--seperator icons--seperator--small"></i></h4>

              <p>The turnover of the Forex market is growing every year!</p>

              <ul class="chart-info">
                <li><i class="fa fa-square icons--orange"></i> Revenue ($M)</li>
                <li><i class="fa fa-square icons--gray"></i> Profit ($M)</li>
              </ul>

              <div class="ct-chart ct-square"></div>

              <p>The turnover of the Forex market is growing every year. By now it is more than 4,5 trillion dollars. The currency exchange market has the highest liquidity of all financial markets and the profitability rises every year. The fast development of the internet has also developed trading possibilities on the Forex market. More and more investors are trading on the Forex market every year!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <% include partials/footer %>

    <% include partials/scripts %>
    <script src="scripts/chart.js" type="text/javascript" charset="utf-8" async defer></script>
  </body>
</html>
