<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>
  
    <section class="parallax-window parallax-window--contest contest-section--header">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="parallax-box">
              <h4>Weekly traders’ contest  on demo account!</h4>
              <ul class="list-unstyled">
                <li>Unlimited withdrawals</li>
                <li>Duration: 5 days</li>
                <li>10 prizes</li>
                <li>Participation fee: 5USD</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li class="active">Investment</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <section class="contest-section--step">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="contest-step">
              <li class="contest-step__item"><a href="#">About Forex Contest</a></li>
              <li class="contest-step__item"><a href="#">HOW TO BEGIN</a></li>
              <li class="contest-step__item"><a href="#">TERMS</a></li>
              <li class="contest-step__item"><a href="#">START REGISTRATION</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="contest-section--about">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h4 class="contest__headline">About forex <b>contest</b></h4>
            <p>We announce traders’ contest for all who want to take part and to gain prizes. We have reduced the duration of the contest to 5 working days aiming to reveal winners and to make trading more dynamic. All participants get 10 000USD on their demo accounts as initial deposit to compete without risking their money. To participate in the contest, one has to invest 5USD to prize fund. Adamant Finance adds 30% of the total amount to the prize fund.</p>
          </div>
          <div class="col-md-6">
            <h4 class="contest__headline">Real Prize for <b>virtual account!</b></h4>
            <p>The terms of the contest are easy. All money a trader wins is his property that he may dispose on his own without any additional withdrawal requirements.</p>
          </div>
        </div>
        <div class="row mtl">
          <div class="col-md-12 text-center">
            <h4 class="contest__headline mbs">The more participants are, <b>the greater the prize fund is!</b></h4>
            <div class="seperator seperator--full mbm">
              <i class="icons icons--seperator icons--seperator--small"></i>
            </div>
            <img src="images/icon-thorpy.png" class="img-responsive block-center" alt="">
          </div>
        </div>
      </div>
    </section>

    <section class="parallax-contest contest-section--part">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h4 class="contest__headline color-white mbs">How to take part <b>in the Contest?</b></h4>
            <div class="seperator seperator--full mbm">
              <i class="icons icons--seperator icons--seperator--small"></i>
            </div>
            <p>o become a participant, you need to do only four easy steps!<br>Sign in and be a part of the breath-taking Contest in 5 minutes only. You may become a winner and take the main money prize!</p>
            <ul class="contest-part">
              <li class="contest-part__item">
                <span class="contest-part__icons"><i class="icons icons--signin"></i></span>
                <span class="contest-part__title">Sign in</span>
              </li>
              <li class="contest-part__item">
                <span class="contest-part__icons"><i class="icons icons--account"></i></span>
                <span class="contest-part__title">Create your account</span>
              </li>
              <li class="contest-part__item">
                <span class="contest-part__icons"><i class="icons icons--fee"></i></span>
                <span class="contest-part__title">Pay 5USD participation fee </span>
              </li>
              <li class="contest-part__item">
                <span class="contest-part__icons"><i class="icons icons--contest"></i></span>
                <span class="contest-part__title">Take part in the contest</span>
              </li>
            </ul>
            <button type="button" class="mtm btn btn-primary">Start Registration</button>
          </div>
        </div>
      </div>
    </section>
    <section class="contest-section--terms">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mbl">
            <h4 class="contest__headline text-center mbs">How to take part <b>in the Contest?</b></h4>
            <div class="seperator seperator--full mbm">
              <i class="icons icons--seperator icons--seperator--small"></i>
            </div>

            <h4 class="contest__subheadline">Terms of <b>participation</b> <i class="icons icons--seperator icons--seperator--small"></i></h4>

            <p>Everybody may take part in the Contest. In order to do this, you need first to sign in and to fill in a special contest form with your personal data. The system will automatically generate your unique trading account number and password after you finish creating account procedure.</p>

            <p>You are required to deposit 5USD as Contest participation fee by any payment method, available at Adamant Finance in order to activate your account!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <h4 class="contest__subheadline">The beginning and <b>the end of the Contest</b></h4>
            <ul class="contest-term-list">
              <li><i class="glyphicon glyphicon-ok-circle"></i>Duration – 5 days</li>
              <li><i class="glyphicon glyphicon-ok-circle"></i>Beginning – Sunday 00.00 Moscow Time </li>
              <li><i class="glyphicon glyphicon-ok-circle"></i>End – Friday 21.55 Moscow Time </li>
            </ul>
          </div>
          <div class="col-md-3">
            <h4 class="contest__subheadline">Terms of <b>trading</b></h4>
            <ul class="contest-term-list">
              <li><i class="glyphicon glyphicon-ok-circle"></i>Initial deposit – 10 000USD</li>
              <li><i class="glyphicon glyphicon-ok-circle"></i>Assets – Forex, Metals</li>
              <li><i class="glyphicon glyphicon-ok-circle"></i>Platform – Metatrader 4</li>
              <li><i class="glyphicon glyphicon-ok-circle"></i>Max. lot – Not limited</li>
              <li><i class="glyphicon glyphicon-ok-circle"></i>EA trading - Yes</li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="contest__subheadline">You are not <b>allowed to</b></H4>
            <ul class="contest-term-list">
              <li><i class="glyphicon glyphicon-remove-circle"></i>Use arbitrage robots (EA)</li>
              <li><i class="glyphicon glyphicon-remove-circle"></i>Trade with more than 1 account from a single IP</li>
              <li><i class="glyphicon glyphicon-remove-circle"></i>Create accounts for different personal data</li>
              <li><i class="glyphicon glyphicon-remove-circle"></i>Use proxies</li>
              <li><i class="glyphicon glyphicon-remove-circle"></i>Use wrong personal data or personal data of third party</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="contest-section--desc">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h4 class="contest__subheadline">Defining <b>A winner</b><i class="icons icons--seperator icons--seperator--small"></i></h4>
            <p>Adamant Finance announces a winner within 96 hours since the end of the Contest after checking the first 10 winning accounts on meeting the Contest requirements. In case of any infringement, the participant is disqualified and the next one takes his place.</p>
            <p>To determine the winner we take into consideration the amount on the account and its actual value including all closed positions. If there are open positions on the Contest account by the end of a round, they will be closed by us! Long positions will be closed at Bd price and short positions will be closed at Ask price.</p>
          </div>
          <div class="col-md-6">
            <h4 class="contest__subheadline">Prize<b>fund</b><i class="icons icons--seperator icons--seperator--small"></i></h4>
            <p>Prize fund is generated by all the participants (5USD fee). Adamant Finance adds 30% of the amount.</p>
            <b>Example:</b>
            <ul class="list-unstyled">
              <li>There are 200 participants</li>
              <li>They pay 5USD to participate in the Contest</li>
              <li>Total fund is 1000USD (200x5USD)</li>
              <li>Adamant finance adds 30% to this 1000USD and the total amount of the prize fund is 1300USD</li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h4 class="contest__subheadline">Disputes and <b>Complaints</b><i class="icons icons--seperator icons--seperator--small"></i></h4>
            <p>All complaints are considered if sent in a message to support@adamantfinance.com email only. The subject of the message should be “Demo Contest”. This the only way the complaints will be considered!</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <h4 class="contest__subheadline">How to receive <b>the prize</b><i class="icons icons--seperator icons--seperator--small"></i></h4>
            <p>A participant who takes one of the prize places has to open a real trading account MarketPro in USD and to provide us with the following personal data (Name, Surname, Number of trading account) by sending us a letter to support@adamantfinance.com. In case if one of the winners already has a MarketPro account, he may send us a letter indicating its number.</p>
            <p>Remark: Your personal data that you have indicated in your Contest account must coincide with your MarketPro account data.</p>
            <p>The prize amount will be credited to the indicated account within 10 working days in case if the participant meets all Contest requirements.</p>
            <p>All money credited to the account of the winner as well as further profit that he may get as result of his trading activities is the property of the account owner!</p>
          </div>
          <div class="col-md-6">
            <h4 class="contest__subheadline"><b>Miscellaneous</b><i class="icons icons--seperator icons--seperator--small"></i></h4>
            <p>Adamant Finance reserves the right to suspend or to stop the Contest at any time due to force-majeure!</p>
            <p>Every participant has to pay winning taxes according to his country’s or region’s legislation. Adamant Finance is not responsible for taxes payments.</p>
            <p>Adamant Finance reserves the right to change Contest rules in case of unexpected circumstances or any mistake that was done or discovered.</p>
            <p>Final results of any Contest round may not be reviewed.</p>
            <p>Adamant Finance reserves the right to request copies of id documents from any participant in case of necessity.</p>
          </div>
        </div>
      </div>
    </section>

    <% include partials/footer %>

    <% include partials/scripts %>
  </body>
</html>