<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>

    <div class="parallax-scene">
      <div class="parallax-window"></div>
    </div>

    <% include partials/diary-page %>

    <% include partials/footer %>

    <% include partials/scripts %>
  </body>
</html>