<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>

    <div id="scene" class="parallax">
      <div class="layer" data-depth="0.00"><img src="images/bg-parrallax-01.jpg" class="img-responsive"></div>
    </div>

    <% include partials/diary-list %>

    <% include partials/contest-result %>

    <% include partials/footer %>

    <% include partials/scripts %>
  </body>
</html>