<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>

    <div class="parallax-window parallax-window--diary"></div>

    <% include partials/diary-page %>

    <% include partials/footer %>

    <% include partials/scripts %>
  </body>
</html>