<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>

    <section class="slider-homepage">
      <div class="slider-homepage-item" data-bg-image="images/slide-home-bg.jpg" style="background-image: url('images/slide-home-bg.jpg')">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="silder-home-content">
                <h4>Createyour own successful trading team!</h4>
                <p>Earn using the experience of others!</p>
                <div class="">
                  <button class="btn btn-success">Top 5 money managers</button>
                  <button class="btn btn-warning">Register as an Investor</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-homepage-item" data-bg-image="images/slide-home-bg.jpg" style="background-image: url('images/slide-home-bg.jpg')">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="silder-home-content">
                <h4>Createyour own successful trading team!</h4>
                <p>Earn using the experience of others!</p>
                <div class="">
                  <button class="btn btn-success">Top 5 money managers</button>
                  <button class="btn btn-warning">Register as an Investor</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-homepage-item" data-bg-image="images/slide-home-bg.jpg" style="background-image: url('images/slide-home-bg.jpg')">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="silder-home-content">
                <h4>Createyour own successful trading team!</h4>
                <p>Earn using the experience of others!</p>
                <div class="">
                  <button class="btn btn-success">Top 5 money managers</button>
                  <button class="btn btn-warning">Register as an Investor</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="benefit benefit--homepage">
      <div class="container">
        <ul class="nav nav-tabs row" role="tablist">
          <li class="col-md-3" role="presentation"><a href="#trader" aria-controls="trader" role="tab" data-toggle="tab">For Trader<span class="benefit-sublabel">Trading Accounts</span></a></li>
          <li class="col-md-3" role="presentation" class="active"><a href="#investor" aria-controls="investor" role="tab" data-toggle="tab">For Investor<span class="benefit-sublabel">Investor Accounts</span></a></li>
          <li class="col-md-3" role="presentation"><a href="#manager" aria-controls="manager" role="tab" data-toggle="tab">For Manager<span class="benefit-sublabel">Copy Accounts</span></a></li>
          <li class="col-md-3" role="presentation"><a href="#partner" aria-controls="partner" role="tab" data-toggle="tab">For Partner<span class="benefit-sublabel">Partner Accounts</span></a></li>
        </ul>
      </div>
      
      <div class="container">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane" id="trader">

          </div>
          <div role="tabpanel" class="tab-pane active" id="investor">
            <h4>Investment <b>Report</b></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas iure esse deserunt officia fugit blanditiis necessitatibus id animi, nemo provident ullam asperiores reprehenderit laborum, facilis! Quod et vel repudiandae expedita.</p>
            <div class="row">
              <div class="col-md-4">
                <h4>Quality</h4>
                <ul class="list-unstyled">
                  <li class=""><i class="fa fa-check"></i>Spreads starting from 0.0 pip</li>
                  <li class=""><i class="fa fa-check"></i>Trading with robots and scalping</li>
                  <li class=""><i class="fa fa-check"></i>ECN/STP transaction speed 0.01 sec</li>
                  <li class=""><i class="fa fa-check"></i>Leverage up to 1:500</li>
                  <li class=""><i class="fa fa-check"></i>Low commissions 3$ per lot</li>
                  <li class=""><i class="fa fa-check"></i>More than 10 payment solutions</li>
                </ul>
              </div>
              <div class="col-md-4 col-md-offset-4">
                <h4>Reliability</h4>
                <ul class="list-unstyled">
                  <li class=""><i class="fa fa-plus"></i>The clients' money is separate</li>
                  <li class=""><i class="fa fa-plus"></i>Trading tools in Germany and the USA</li>
                  <li class=""><i class="fa fa-plus"></i>The clients' records protected by SSL</li>
                  <li class=""><i class="fa fa-plus"></i>Secure payment solutions</li>
                  <li class=""><i class="fa fa-plus"></i>Liquidity from the largest banks and funds</li>
                  <li class=""><i class="fa fa-plus"></i>Monthly revenue 10 millions $</li>
                </ul>
                
              </div>
            </div>
            
          </div>
          <div role="tabpanel" class="tab-pane" id="manager">

          </div>
          <div role="tabpanel" class="tab-pane" id="partner">

          </div>
        </div>
      </div>
    </section>

    <section class="our-services our-services--homepage parallax">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h4>Our <b>Services</b></h4>

            <div class="slider-services">
              <div class="slider-services-item">
                <div class="our-services-box">
                  <div class="our-services__icon">
                    <i class="fa fa-check fa-2x"></i>
                  </div>
                  <div class="our-services__label">
                    WCIFX Copy Trade
                  </div>
                </div>
              </div>
              <div class="slider-services-item">
                <div class="our-services-box">
                  <div class="our-services__icon">
                    <i class="fa fa-check fa-2x"></i>
                  </div>
                  <div class="our-services__label">
                    WCIFX Investment
                  </div>
                </div>
              </div>
              <div class="slider-services-item">
                <div class="our-services-box">
                  <div class="our-services__icon">
                    <i class="fa fa-check fa-2x"></i>
                  </div>
                  <div class="our-services__label">
                    WCIFX Contest
                  </div>
                </div>
              </div>
              <div class="slider-services-item">
                <div class="our-services-box">
                  <div class="our-services__icon">
                    <i class="fa fa-check fa-2x"></i>
                  </div>
                  <div class="our-services__label">
                    WCIFX
                  </div>
                </div>
              </div>
              <div class="slider-services-item">
                <div class="our-services-box">
                  <div class="our-services__icon">
                    <i class="fa fa-check fa-2x"></i>
                  </div>
                  <div class="our-services__label">
                    WCIFX Copy
                  </div>
                </div>
              </div>
              <div class="slider-services-item">
                <div class="our-services-box">
                  <div class="our-services__icon">
                    <i class="fa fa-check fa-2x"></i>
                  </div>
                  <div class="our-services__label">
                    WCIFX Copy
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <% include partials/contest-result %>

    <% include partials/footer %>

    <% include partials/scripts %>
  </body>
</html>