<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>

    <% include components/slider-homepage %>

    <% include partials/benefit %>

    <% include partials/our-services %>

    <% include partials/footer %>

    <% include partials/scripts %>
  </body>
</html>