<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Work List:</h1>
            <ul class="">
              <li><a href="homepage.html">Home</a></li>
              <li><a href="about.html">Company Profile</a></li>
              <li><a href="bussinness.html">Business</a></li>
              <li><a href="trading-real-account.html">Real Account</a></li>
              <li><a href="trading-demo-account.html">Demo Account</a></li>
              <li><a href="trading-instruments.html">Trading Instrument</a></li>
              <li><a href="trading-platforms.html">Trading Platform</a></li>
              <li><a href="trading-payment.html">Payment Method</a></li>
              <li><a href="investment-program-01.html">Investment Program #1</a></li>
              <li><a href="investment-program-02.html">Investment Program #2</a></li>
              <li><a href="contest.html">Contest</a></li>
              <li><a href="partnership.html">Partner</a></li>
              <li><a href="news-list-pages.html">News</a></li>
              <li><a href="news-pages.html">News :: Detail</a></li>
              <li><a href="diary-list-pages.html">Diary</a></li>
              <li><a href="news-pages.html">Diary :: Detail</a></li>
              <li><a href="generate-password.html">Generate Password</a></li>
              <li><a href="lost-password.html">Lost Password</a></li>
              <li><a href="signal-list-pages.html">Signal List</a></li>
            </ul>
        </div>
      </div>
    </div>

    <% include partials/footer %>

    <% include partials/scripts %>
  </body>
</html>