<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>

    <ul id="scene">
      <li class="layer" data-depth="0.00"><img src="images/bg-parrallax-01.jpg"></li>
      <li class="layer" data-depth="0.20"><img src="images/bg-parrallax-01.jpg"></li>
    </ul>

    <% include partials/front-page %>

    <% include partials/footer %>

    <% include partials/scripts %>
  </body>
</html>