<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1 class="text-center">Work List:</h1>
          <div class="list-group">
            <a class="list-group-item" href="homepage.html">Homepage <span class="badge">done</span></a>
            <a class="list-group-item" href="about.html">Company Profile <span class="badge">done</span></a>
            <a class="list-group-item" href="businnes.html">Businnes <span class="badge">done</span></a>
            <a class="list-group-item" href="trading-real-account.html">Trading Real Account <span class="badge">done</span></a>
            <a class="list-group-item" href="trading-demo-account.html">Trading Demo Account <span class="badge">done</span></a>
            <a class="list-group-item" href="trading-instruments.html">Trading Instrument <span class="badge">done</span></a>
            <a class="list-group-item" href="trading-platforms.html">Trading Platform <span class="badge">done</span></a>
            <a class="list-group-item" href="trading-payment.html">Trading Payment <span class="badge">done</span></a>
            <a class="list-group-item" href="investment-program-01.html">Investment Program #1 <span class="badge">done</span></a>
            <a class="list-group-item" href="investment-program-02.html">Investment Program #2 <span class="badge">done</span></a>
            <a class="list-group-item" href="contest.html">Contest <span class="badge">done</span></a>
            <a class="list-group-item" href="partnership.html">Partner <span class="badge">done</span></a>
            <a class="list-group-item" href="news-list-pages.html">News <span class="badge">done</span></a>
            <a class="list-group-item" href="news-pages.html">News :: Detail <span class="badge">done</span></a>
            <a class="list-group-item" href="diary-list-pages.html">Diary <span class="badge">done</span></a>
            <a class="list-group-item" href="diary-pages.html">Diary :: Detail <span class="badge">done</span></a>
            <a class="list-group-item" href="generate-password.html">Generate Password <span class="badge">done</span></a>
            <a class="list-group-item" href="lost-password.html">Lost Password <span class="badge">done</span></a>
            <a class="list-group-item" href="signal-list-pages.html">Signal List</a>
            <a class="list-group-item" href="member.html">Member Account</a>
          </div>
        </div>
      </div>
    </div>

    <% include partials/footer-without-contest %>

    <% include partials/scripts %>
  </body>
</html>