<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>

    <section class="parallax-window parallax-window--investment-02">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="investment-header">
              <h1>Automatic trading on the Forex market</h1>
            </div>
          </div>
          <div class="col-md-4">
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li><a href="#">Invesment</a></li>
              <li class="active">Invesment Program #02</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <section class="investment-headline">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3>CopyFx account - allows you not only to make money on your trades<br>but also on your followers who copy your trades!</h3>
            <div class="seperator seperator--full">
              <i class="icons icons--seperator"></i>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="investment-statistic ptl pbl">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h4 class="headline">Statistic <b>Table</b></h4>
            <table class="table-no-border investment-statistic-table">
              <thead class="investment-statistic-table--head">
                <tr class="text-uppercase">
                  <th>Trader</th>
                  <th>Analytics</th>
                  <th>pps</th>
                  <th>Trades</th>
                  <th>ROI<br>Annualized</th>
                  <th>Avg PIPS</th>
                  <th>WIN %</th>
                  <th>MAX DD %</th>
                  <th>MAX DD PIPS</th>
                  <th>MAX<br>OPEN TRADER</th>
                  <th>AVG<br>TRADER TIME</th>
                  <th>WEEK</th>
                  <th>FOLLOWERS</th>
                </tr>
              </thead>
              <tbody>
                <% include components/table-investment-statistic %>
                <% include components/table-investment-statistic %>
                <% include components/table-investment-statistic %>
                <% include components/table-investment-statistic %>
                <% include components/table-investment-statistic %>
                <% include components/table-investment-statistic %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <% include partials/footer %>

    <% include partials/scripts %>
  </body>
</html>