<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>

    <section class="generate-new-password">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="generate-new-password-content">
              <h2 class="generate-forgot-password__title">Forgot your password?</h2>
              <p class="generate-forgot-password__desc font-montserrat--light">Enter your email below to receive your password reset instructions</p>
              <form action="" class="generate-new-password-form">
                <div class="form-group text-left">
                  <label for="email-forgot" class="generate-forgot-password__label font-montserrat--light">Email :</label>
                  <input type="email" name="email-forgot" class="form-control font-montserrat--light" value="" placeholder="Enter your email address">
                </div>
                <button type="submit" class="btn btn-primary btn-block btn-lg font-montserrat text-uppercase">Send password</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <% include partials/footer %>

    <% include partials/scripts %>
  </body>
</html>