<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include ./member-components/member-header %>
    <% include ./components/header/navigation-main %>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          MEMBER
        </div>
      </div>
    </div>

    <% include partials/footer-without-contest %>

    <% include partials/scripts %>
  </body>
</html>