<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>

    <div class="parallax-window parallax-window--news">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h3 class="parallax__title">About The Company</h3>
            <p class="parallax__desc">Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum. Fusce blandit ultrices sapien, in accumsan orci rhoncus eu.</p>
          </div>
          <div class="col-md-4">
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li><a href="#">News</a></li>
              <li class="active">Alooha</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <% include partials/news-page %>

    <% include partials/footer %>

    <% include partials/scripts %>
  </body>
</html>