<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>

    <section class="parallax-window parallax-window--partnership">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="parallax__title">Partnership</h3>
            <p class="parallax__desc">The partnership programme is convenient and doesn't require any financial investments. All you have to do is place our advertisement on your homepage, blog, forum, or display it in social media.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li class="active">Partnership</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <section>
      
      

      Partner's cabinet

      Statistics

      Analytics

      Promotional materials

      Contests

      Partnership

      Woodside Capital Partnership give you individual or Co-prorate the opportunity to earn the most lucrative commissions and Forex rebates in the forex industry. Increase your profitability by referring Forex traders and increase your revenue as Partner. Enjoy instant payouts, receive personalized client support and industry leading IT solutions to increase your profitability.

Each time your client performs a trade, you get a certain fixed amount per lot traded. Kindly refer the below the Rebate structure and calculation income for client that opening account and trade under your referral partner program

Ngisore trus calculation estimasi seperti di web admafinance


Partner Type


Statistics

1580 USD

Average deposit

14
Average number
 of clients

 9

 Average number of transactions per day

 0.65 lots
 Average volume of transactions per day

 0.07 lots
 Average size of transaction

 1110 USD
Average earnings of partner

The partnership programme is convenient and doesn't require any financial investments. All you have to do is place our advertisement on your homepage, blog, forum, or display it in social media.


    </section>

    <% include partials/footer %>

    <% include partials/scripts %>
  </body>
</html>