<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>

    <section class="parallax-window parallax-window--trading-real">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li><a href="#">Trading</a></li>
              <li class="active">Real Account</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <div class="trading container ptl pbl">
      <div class="row">
        <div class="col-md-12">
          <h4 class="headtitle">Account types</h4>
          <div class="seperator seperator--full mbl"><i class="icons icons--seperator"></i></div>
          <p class="contens">We are constantly improving and extending trading opportunities for our clients. At the moment, it is possible to choose between three different types of accounts. We are always keeping up with the times and offering the best available trading opportunities. It is important to us, that our clients can enjoy the benefits of the newest and most innovative solutions.</p>
        </div>
      </div>
    </div>

    <section class="trading trading-step">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="trading-step--list">
              <li class="trading-step__item">
                <span class="trading-step__icons"><i class="icons icons-trading--registration"></i></span>
                <span class="trading-step__label">Open Account</span>
              </li>
              <li class="trading-step__item">
                <span class="trading-step__icons"><i class="icons icons-trading--access"></i></span>
                <span class="trading-step__label">Access</span>
              </li>
              <li class="trading-step__item">
                <span class="trading-step__icons"><i class="icons icons-trading--trading"></i></span>
                <span class="trading-step__label">Trading</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="trading trading-registration">
      <div class="container ptl pbl">
        <div class="row">
          <div class="col-md-12">
            <h4 class="headtitle">prediction</h4>
            <div class="seperator seperator--full mbl"><i class="icons icons--seperator"></i></div>
          </div>
          <table class="table-prediction">
            <thead>
              <tr>
                <th>Activity</th>
                <th>Classic</th>
                <th>MarketPro</th>
                <th>MarketPrime</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Minimum deposit</td>
                <td>1 USD/EUR</td>
                <td>125 USD/EUR</td>
                <td>250 USD/EUR</td>
              </tr>
              <tr>
                <td>Trading instruments</td>
                <td><span>Forex (27)</span><span>Metals (4)</span></td>
                <td>
                  <span>Forex (84)</span>
                  <span>Metals (4)</span>
                  <span>Futures (3)</span>
                </td>
                <td>
                  <span>Forex (84)</span>
                  <span>Metals (4)</span>
                  <span>Futures (3)</span>
                  <span>Indexes(13)</span>
                </td>
              </tr>
              <tr>
                <td>Leverage</td>
                <td>till 1:500</td>
                <td>till 1:200</td>
                <td>till 1:100</td>
              </tr>
              <tr>
                <td>Spread</td>
                <td>from 2</td>
                <td>from 0.5</td>
                <td>from 0.0</td>
              </tr>
              <tr>
                <td>Payment solutions</td>
                <td colspan="3"><img src="images/payment.png" alt="Payment"></td>
              </tr>
              <tr>
                <td>Minimum volume of transaction</td>
                <td>0.01 lot</td>
                <td>0.01 lot</td>
                <td>0.1 lot</td>
              </tr>
              <tr>
                <td>Bidding increment</td>
                <td>0.01 lot</td>
                <td>0.01 lot</td>
                <td>0.1 lot</td>
              </tr>
              <tr>
                <td>Transmission of transaction</td>
                <td>Market Execution</td>
                <td>Market Execution</td>
                <td>Market Execution</td>
              </tr>
              <tr>
                <td>Speed of transaction</td>
                <td>0.1 sec</td>
                <td>0.1 sec</td>
                <td>0.1 sec</td>
              </tr>
              <tr>
                <td>Collateral in case of locking</td>
                <td>0 %</td>
                <td>0 %</td>
                <td>0 %</td>
              </tr>
              <tr>
                <td>Stop out</td>
                <td>50%</td>
                <td>50%</td>
                <td>50%</td>
              </tr>
              <tr>
                <td>Trading platform</td>
                <td><img src="images/icon-mt4.png" alt=""></td>
                <td><img src="images/icon-mt4.png" alt=""></td>
                <td><img src="images/icon-mt4.png" alt=""></td>
              </tr>
              <tr>
                <td>Smart platforms</td>
                <td><img src="images/icon-smartphone.png" alt=""></td>
                <td><img src="images/icon-smartphone.png" alt=""></td>
                <td><img src="images/icon-smartphone.png" alt=""></td>
              </tr>
              <tr>
                <td>EA trading</td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
              </tr>
              <tr>
                <td>Rejection of transaction</td>
                <td><i class="fa fa-close"></i></td>
                <td><i class="fa fa-close"></i></td>
                <td><i class="fa fa-close"></i></td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td><button class="btn btn-primary btn-block btn-lg">Open Classic</button></td>
                <td><button class="btn btn-primary btn-block btn-lg">Open MarketPro</button></td>
                <td><button class="btn btn-primary btn-block btn-lg">Open MarketPrime</button></td>
              </tr>
            </tfoot>
          </table>
          <p class="contens">We offer access to liquidity provided by large central banks. In order to get the transactions to the market, we use ECN/NDD technology, where spreads start at zero. At the moment, we enable trading on three different types of accounts: Classic, MarketPro and MarketPrime. Additional information on these account types can be found at the top of this page.</p>

        </div>
      </div>
    </section>


    <% include partials/footer %>

    <% include partials/scripts %>
  </body>
</html>
