<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>

    <section class="parallax-window parallax-window--trading-platforms">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Trading instruments</h2>
            <p>Here you will find an overview of the Forex trading instruments available to our clients. We offer our clients access to the Forex market, as well as opportunities to trade gold and silver. This list is constantly complemented in order to improve the terms of trade.</p>
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li><a href="#">Trading</a></li>
              <li class="active">Instrument</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <div class="bg-graffic ptl pbl">
      <div class="trading container">
        <div class="row">
          <div class="col-md-5">
            <i class="icon-trading--mac"></i>
          </div>
          <div class="col-md-7">
            <h4 class="headtitle-left">PC MT4 <b>trading platform</b></h4>
            <div class="mbm"><i class="icons icons--seperator icons--seperator--medium"></i></div>
            <p class="mts contens">Below is a list of trading instruments with some parameters and conditions for each. The displayed spreads are consistent with the MarketPro trading account and are transmitted in real time with practically no delays.</p>
            <div class="button-wrapper-2 col-sm-8 col-sm-offset-4 mtm">
              <button class="btn btn-success">Open Demo Account</button>
              <button class="btn btn-success">Open Real Account</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    

    <section class="trading trading-registration">
      <div class="container ptl pbl">
        <div class="row">
          <div class="col-md-12">
            <h4 class="headtitle">Features of <b>MetaTrader 4</b></h4>
            <div class="seperator seperator--full mbl"><i class="icons icons--seperator"></i></div>
          </div>
          <div class="col-md-6">
            <ul class="checklist">
              <li><i class="glyphicon glyphicon-ok-circle"></i> Multilingual</li>
              <li><i class="glyphicon glyphicon-ok-circle"></i> Trading with Forex, futures and CFD</li>
              <li><i class="glyphicon glyphicon-ok-circle"></i> Market Execution</li>
              <li><i class="glyphicon glyphicon-ok-circle"></i> Constant stream of news</li>
              <li><i class="glyphicon glyphicon-ok-circle"></i> Mailbox</li>
              <li><i class="glyphicon glyphicon-ok-circle"></i> Sound alerts for trading events</li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="checklist">
              <li><i class="glyphicon glyphicon-ok-circle"></i> Wide range of technical indicators</li>
              <li><i class="glyphicon glyphicon-ok-circle"></i> Possibility to create new technical indicators</li>
              <li><i class="glyphicon glyphicon-ok-circle"></i> Programming language MQL4</li>
              <li><i class="glyphicon glyphicon-ok-circle"></i> Possibility to use trading experts (MTS)</li>
              <li><i class="glyphicon glyphicon-ok-circle"></i> User indicators</li>
              <li><i class="glyphicon glyphicon-ok-circle"></i> Download MetaTrader 4</li>
            </ul>
          </div>
        </div>
      </div>
    </section>


    <% include partials/footer-without-contest %>

    <% include partials/scripts %>
  </body>
</html>
