<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>

    <section class="parallax-window parallax-window--trading-real">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li><a href="#">Trading</a></li>
              <li class="active">Real Account</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <div class="container ptl pbl">
      <div class="row">
        <div class="col-md-12">
          <h4 class="headtitle">Forex demo <b>account</b></h4>
          <div class="seperator seperator--full mbl"><i class="icons icons--seperator"></i></div>
          <p class="contens">The demo account is a free account for learning, that enables you to get acquainted with the terms of trade and put your trading skills to the test. If you're taking your first steps in the world of finance and have decided to learn how to trade, the demo account is the perfect tool for learning your first lessons, using virtual money and taking no risks.</p>
        </div>
      </div>
    </div>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            Registration

            Access

            Trading
          </div>
        </div>
      </div>
    </section>


      <div class="container ptl pbl">
        <div class="row">
          <div class="col-md-12">
            <h4 class="headtitle">Registration</h4>
            <div class="seperator seperator--full mbl"><i class="icons icons--seperator"></i></div>
          </div>
          <div class="col-md-6">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="firstDeposit" class="col-sm-offset-1 col-sm-4 control-label">First deposit:</label>
                <div class="col-sm-6 col-sm-offset-1">
                  <input type="text" class="form-control" id="firstDeposit" placeholder="" value="10 000 USD" disabled="disabled">
                </div>
              </div>
              <div class="form-group">
                <label for="firstName" class="col-sm-offset-1 col-sm-4 control-label">First name:</label>
                <div class="col-sm-6 col-sm-offset-1">
                  <input type="text" class="form-control" id="firstName" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="lastName" class="col-sm-offset-1 col-sm-4 control-label">Last name:</label>
                <div class="col-sm-6 col-sm-offset-1">
                  <input type="text" class="form-control" id="lastName" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="phone" class="col-sm-offset-1 col-sm-4 control-label">Phone:</label>
                <div class="col-sm-6 col-sm-offset-1">
                  <input type="number" class="form-control" id="phone" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="country" class="col-sm-offset-1 col-sm-4 control-label">Country:</label>
                <div class="col-sm-6 col-sm-offset-1">
                  <select name="country" class="select2" style="width: 100%;">
                    <option value="indonesia">Indonesia</option>
                    <option value="singapore">Singapore</option>
                    <option value="malaysia">Malaysia</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="email" class="col-sm-offset-1 col-sm-4 control-label">Email:</label>
                <div class="col-sm-6 col-sm-offset-1">
                  <input type="email" class="form-control" id="email" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="securityCode" class="col-sm-offset-1 col-sm-4 control-label">Security code:</label>
                <div class="col-sm-6 col-sm-offset-1">
                  <input type="text" class="form-control" id="securityCode" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-5 col-sm-7 text-right">
                  <button type="submit" class="btn btn-lg btn-primary">Open</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-6">
            <ul class="checklist">
              <li>More than 60 instruments (currencies, gold, silver)</li>
              <li>Prices in real time</li>
              <li>Trading platform MetaTrader 4</li>
              <li>Trading platform in English language</li>
              <li>Wide range of indicators</li>
            </ul>
            <p>All the information and instructions necessary for opening a demo account will be sent to your personal e-mail address. If you have any questions, feel free to contact our customer support in a manner convenient to you.</p>
          </div>
        </div>
      </div>

    <% include partials/footer %>

    <% include partials/scripts %>
  </body>
</html>