<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>

    <section class="parallax-window parallax-window--trading-instrument">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Trading instruments</h2>
            <p>Here you will find an overview of the Forex trading instruments available to our clients. We offer our clients access to the Forex market, as well as opportunities to trade gold and silver. This list is constantly complemented in order to improve the terms of trade.</p>
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li><a href="#">Trading</a></li>
              <li class="active">Instrument</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <div class="trading container ptl pbl">
      <div class="row">
        <div class="col-md-7">
          <p class="contens">Below is a list of trading instruments with some parameters and conditions for each. The displayed spreads are consistent with the MarketPro trading account and are transmitted in real time with practically no delays.</p>
        </div>
        <div class="col-md-5">
          <h4 class="headtitle">Open <b>account!</b></h4>
          <div class="button-wrapper-2">
            <button type="button" class="btn btn-primary">Open Demo Account</button>
            <button type="button" class="btn btn-primary">Open Real Account</button>
          </div>
        </div>
      </div>
    </div>

    <section class="trading trading-step">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="trading-step--list">
              <li class="trading-step__item">
                <span class="trading-step__icons"><i class="icons icons-trading--opening"></i></span>
                <span class="trading-step__label">Account opening</span>
              </li>
              <li class="trading-step__item">
                <span class="trading-step__icons"><i class="icons icons-trading--deposit"></i></span>
                <span class="trading-step__label">Funds deposit</span>
              </li>
              <li class="trading-step__item">
                <span class="trading-step__icons"><i class="icons icons-trading--trading-open"></i></span>
                <span class="trading-step__label">Trading</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="trading trading-registration">
      <div class="container ptl pbl">
        <div class="row">
          <div class="col-md-12">
            <h4 class="headtitle">prediction</h4>
            <div class="seperator seperator--full mbl"><i class="icons icons--seperator"></i></div>
            <% include components/trading-table-choose %>
            <% include components/trading-table-content %>
            <% include components/trading-table-content %>
            <% include components/trading-table-content %>
            <% include components/trading-table-content %>
          </div>
        </div>
      </div>
    </section>
      

    <% include partials/footer-without-contest %>

    <% include partials/scripts %>
  </body>
</html>