<section class="benefit benefit--homepage">
  <div class="benefit-tab-header">
    <div class="container">
      <ul class="nav nav-tabs row" role="tablist">
        <li class="col-md-3" role="presentation">
          <h4 class="benefit-headtitle"><a href="#trader" aria-controls="trader" role="tab" data-toggle="tab">For Trader<span class="benefit-sublabel">Trading Accounts</span></a></h4>
        </li>
        <li class="col-md-3" role="presentation" class="active">
          <h4 class="benefit-headtitle"><a href="#investor" aria-controls="investor" role="tab" data-toggle="tab">For Investor<span class="benefit-sublabel">Investor Accounts</span></a></h4>
        </li>
        <li class="col-md-3" role="presentation">
          <h4 class="benefit-headtitle"><a href="#manager" aria-controls="manager" role="tab" data-toggle="tab">For Manager<span class="benefit-sublabel">Copy Accounts</span></a></h4>
        </li>
        <li class="col-md-3" role="presentation">
          <h4 class="benefit-headtitle"><a href="#partner" aria-controls="partner" role="tab" data-toggle="tab">For Partner<span class="benefit-sublabel">Partner Accounts</span></a></h4>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="benefit-tabs-content bg-grafity bg-iphone">
    <div class="container">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="trader">

        </div>
        <div role="tabpanel" class="tab-pane active" id="investor">
          <h4 class="headtitle">Investment <b>Report</b></h4>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <p class="benefit-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas iure esse deserunt officia fugit blanditiis necessitatibus id animi, nemo provident ullam asperiores reprehenderit laborum, facilis! Quod et vel repudiandae expedita.</p>
            </div>
          </div>
          
          <div class="seperator seperator--full"><i class="icons icons--seperator"></i></div>
          <div class="benefit-feature">
            <ul class="benefit-feature-list">
              <li class="benefit-feature-list__item">
                <span class="benefit-feature__label">Minimal <b>Deposit</b></span>
                <span class="benefit-feature__value">1$</span></li>
              <li class="benefit-feature-list__item">
                <span class="benefit-feature__label">Spreads <b>From</b></span>
                <span class="benefit-feature__value">0.0</span></li>
              <li class="benefit-feature-list__item">
                <span class="benefit-feature__label">Excution <b>Time</b></span>
                <span class="benefit-feature__value">0.01 SEC</span></li>
              <li class="benefit-feature-list__item">
                <span class="benefit-feature__label">Client <b>Support</b></span>
                <span class="benefit-feature__value">24/5</span></li>
              <li class="benefit-feature-list__item">
                <span class="benefit-feature__label"><b>Leverage</b></span>
                <span class="benefit-feature__value">1:500</span></li>
              <li class="benefit-feature-list__item">
                <span class="benefit-feature__label">Minimal <b>Lot</b></span>
                <span class="benefit-feature__value">0.01</span></li>
              <li class="benefit-feature-list__item">
                <span class="benefit-feature__label">Execution <b>Type</b></span>
                <span class="benefit-feature__value">STP</span></li>
              <li class="benefit-feature-list__item">
                <span class="benefit-feature__label">Execution <b>Type2</b></span>
                <span class="benefit-feature__value">NDD</span></li>
            </ul>
          </div>
          <div class="row">
            <div class="col-md-4 benefit-info">
              <h4 class="benefit-info__title">Quality</h4>
              <ul class="benefit-info-list">
                <li class="benefit-info__item"><i class="fa fa-check"></i>Spreads starting from 0.0 pip</li>
                <li class="benefit-info__item"><i class="fa fa-check"></i>Trading with robots and scalping</li>
                <li class="benefit-info__item"><i class="fa fa-check"></i>ECN/STP transaction speed 0.01 sec</li>
                <li class="benefit-info__item"><i class="fa fa-check"></i>Leverage up to 1:500</li>
                <li class="benefit-info__item"><i class="fa fa-check"></i>Low commissions 3$ per lot</li>
                <li class="benefit-info__item"><i class="fa fa-check"></i>More than 10 payment solutions</li>
              </ul>
            </div>
            <div class="col-md-4 col-md-offset-4 benefit-info">
              <h4 class="benefit-info__title">Reliability</h4>
              <ul class="benefit-info-list">
                <li class="benefit-info__item"><i class="fa fa-plus"></i>The clients' money is separate</li>
                <li class="benefit-info__item"><i class="fa fa-plus"></i>Trading tools in Germany and the USA</li>
                <li class="benefit-info__item"><i class="fa fa-plus"></i>The clients' records protected by SSL</li>
                <li class="benefit-info__item"><i class="fa fa-plus"></i>Secure payment solutions</li>
                <li class="benefit-info__item"><i class="fa fa-plus"></i>Liquidity from the largest banks and funds</li>
                <li class="benefit-info__item"><i class="fa fa-plus"></i>Monthly revenue 10 millions $</li>
              </ul>
              
            </div>
          </div>
          
        </div>
        <div role="tabpanel" class="tab-pane" id="manager">

        </div>
        <div role="tabpanel" class="tab-pane" id="partner">

        </div>
      </div>
    </div>
  </div>
</section>