<section class="content-result">
  <div class="container">
    <div class="content-result-head">
      <h4 class="content-result_title">Contest <b>Result</b> <i class="icons icons--block icons--seperator"></i></h4>
    </div>
    <div class="content-result-left">
      <div>
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#freeroll" aria-controls="freeroll" role="tab" data-toggle="tab">Freeroll</a>
          </li>
          <li role="presentation">
            <a href="#regular" aria-controls="regular" role="tab" data-toggle="tab">Regular</a>
          </li>
          <li role="presentation">
            <a href="#sitgo" aria-controls="sitgo" role="tab" data-toggle="tab">Sit&amp;Go</a>
          </li>
        </ul>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="freeroll">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Contest name</th>
                  <th class="text-center">Start</th>
                  <th class="text-center">Prize fund</th>
                  <th class="text-center">Participants</th>
                  <th class="text-center">Buy-in</th>
                  <th class="text-center">Participate</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><b>Weekly Jam</b></td>
                  <td class="text-center">Jul 18 2016 12:00 AM</td>
                  <td class="text-center"><b>$500</b></td>
                  <td class="text-center">1698</td>
                  <td class="text-center">$0</td>
                  <td class="text-center"><button class="btn btn-primary">Join</button></td>
                </tr>
                <tr>
                  <td><b>Weekly Jam</b></td>
                  <td class="text-center">Jul 18 2016 12:00 AM</td>
                  <td class="text-center"><b>$500</b></td>
                  <td class="text-center">1698</td>
                  <td class="text-center">$0</td>
                  <td class="text-center"><button class="btn btn-primary">Join</button></td>
                </tr>
                <tr>
                  <td><b>Weekly Jam</b></td>
                  <td class="text-center">Jul 18 2016 12:00 AM</td>
                  <td class="text-center"><b>$500</b></td>
                  <td class="text-center">1698</td>
                  <td class="text-center">$0</td>
                  <td class="text-center"><button class="btn btn-primary">Join</button></td>
                </tr>
                <tr>
                  <td><b>Weekly Jam</b></td>
                  <td class="text-center">Jul 18 2016 12:00 AM</td>
                  <td class="text-center"><b>$500</b></td>
                  <td class="text-center">1698</td>
                  <td class="text-center">$0</td>
                  <td class="text-center"><button class="btn btn-primary">Join</button></td>
                </tr>
                <tr>
                  <td><b>Weekly Jam</b></td>
                  <td class="text-center">Jul 18 2016 12:00 AM</td>
                  <td class="text-center"><b>$500</b></td>
                  <td class="text-center">1698</td>
                  <td class="text-center">$0</td>
                  <td class="text-center"><button class="btn btn-primary">Join</button></td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="6" class="text-right"><a href="#"><i class="fa fa-bars"></i> All Regular competitions</a></td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div role="tabpanel" class="tab-pane" id="regular">
            
          </div>
          <div role="tabpanel" class="tab-pane" id="sitgo">
            
          </div>
        </div>
      </div>
      
    </div>
    <div class="content-result-right">
      <div class="content-result-right__title">Winners of the contest</div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Winner</th>
            <th>Prize</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="content-result__table-image">
                <i class="fa fa-user fa-border"></i>
              </div>
              <div class="content-result__table-data">
                <b>Forld1939900491</b>
                <span>Contest: Profit day</span>
                <span>Finished: 7/20/2016 10:59:07 AM</span>
              </div>
            </td>
            <td>
              <b>290$</b>
            </td>
          </tr>
          <tr>
            <td>
              <div class="content-result__table-image">
                <i class="fa fa-user fa-border"></i>
              </div>
              <div class="content-result__table-data">
                <b>Forld1939900491</b>
                <span>Contest: Profit day</span>
                <span>Finished: 7/20/2016 10:59:07 AM</span>
              </div>
            </td>
            <td>
              <b>290$</b>
            </td>
          </tr>
          <tr>
            <td>
              <div class="content-result__table-image">
                <i class="fa fa-user fa-border"></i>
              </div>
              <div class="content-result__table-data">
                <b>Forld1939900491</b>
                <span>Contest: Profit day</span>
                <span>Finished: 7/20/2016 10:59:07 AM</span>
              </div>
            </td>
            <td>
              <b>290$</b>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2" class="text-right"><a href="#"><i class="fa fa-group"></i> Intervie of winners</a></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>