<div class="container news-container">
  <div class="row">
    <div class="col-md-4 news-content news-content--left">
      <% include ../components/search-article %>

      <% include popular-post %>
      
      <% include ../components/category-tag %>
    </div>

    <div class="col-md-8 news-content news-content--right">
      <% include ../components/diary-pages %>
    </div>
  </div>
</div>