<footer class="footer">
  <div class="container">
    <% include ../components/footer/footer-partner %>

    <hr>

    <% include ../components/footer/footer-top-link %>

    <hr>

    <% include ../components/footer/footer-social-link %>

    <hr>

    <% include ../components/footer/footer-company-link %>

    <hr>

    <% include ../components/footer/footer-copyright %>
  </div>
</footer>


