<% include contest-result %>

  <footer class="footer">
    <div class="container">
      <% include ../components/footer/footer-partner %>
      <hr>
      <% include ../components/footer/footer-top-link %>
      <hr>
      <% include ../components/footer/footer-social-link %>
      <hr>
      <% include ../components/footer/footer-company-link %>
      <hr>
      <% include ../components/footer/footer-copyright %>
    </div>
  </footer>

  <!-- Modal Login -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h2 class="modal-headtitle">Welcome Back!</h2>
          <p class="modal-subtitle">Login to your account below</p>
          <form>
            <div class="form-group">
              <input type="email" class="form-control" id="email-login" placeholder="Email address">
            </div>
            <div class="form-group password">
              <input type="password" class="form-control" id="pwd-login" placeholder="Password">
              <span class="glyphicon glyphicon-eye-open"></span>
            </div>
            <div class="checkbox text-right">
              <label>
                <input type="checkbox"> Remember me
              </label>
            </div>
            <button type="button" class="btn btn-block btn-success">Login</button>
            <div class="seperator-form">
              <span>or</span>
            </div>
            <button type="button" class="btn btn-block btn-info">Signup</button>
          </form>
          <a href="" class="forgot-password__link">Forgotten password?</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Register -->
  <div class="modal fade" id="regModal" tabindex="-2" role="dialog" aria-labelledby="regModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h2 class="modal-headtitle">Register</h2>
          <p class="modal-subtitle">Register now - Completely free</p>
          <form>
            <div class="form-group">
              <label for="eg-nickname">nickname</label>
              <input type="text" class="form-control" id="reg-nickname" placeholder="nick name">
            </div>
            <div class="form-group">
              <label for="reg-email">enter your email address</label>
              <input type="email" class="form-control" id="reg-email" placeholder="email">
            </div>
            <div class="form-group">
              <label for="reg-password-1">create your password</label>
              <input type="password" class="form-control" id="reg-password-1" placeholder="password">
            </div>
            <div class="form-group">
              <label for="reg-password-2">confirm your password</label>
              <input type="password" class="form-control" id="reg-password-2" placeholder="password">
            </div>
            <div class="form-group">
              <label for="reg-name">Name</label>
              <div class="row">
                <div class="col-xs-6">
                  <input type="text" class="form-control" id="reg-name-" placeholder="First Name">
                </div>
                <div class="col-xs-6">
                  <input type="text" class="form-control" id="reg-name-" placeholder="Last Name">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="reg-birth">Birthday</label>
              <div class="clearfix">
                <select name="" class="select2-month" style="width: 40%">
                  <option value="">February</option>
                  <option value="">May</option>
                </select>
                <select name="" class="select2-day" style="width: 28%">
                  <option value="">11</option>
                  <option value="">16</option>
                </select>
                <select name="" class="select2-year" style="width: 30%">
                  <option value="">1982</option>
                  <option value="">1983</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="reg-country">Country</label>
                  <select name="" class="select2-country" style="width: 100%">
                    <option value="">Indonesia</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="reg-city">City</label>
                  <select name="" class="select2-city" style="width: 100%">
                    <option value="">Jakarta</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="reg-phone">Phone number</label>
              <input type="number" class="form-control" id="reg-phone" placeholder="phone">
            </div>
            <div class="checkbox text-right mbm">
              <label for="remember-me" class="remember-me">
                <input type="checkbox" id="remember-me"> Remember me
              </label>
            </div>
            <button type="button" class="btn btn-lg btn-block btn-primary">Create Account</button>
          </form>
        </div>
      </div>
    </div>
  </div>
