<div class="container front-page-container">
  <div class="row">
    <div class="col-md-4 front-page__content front-page--left">
      <% include ../components/search-article %>

      <% include ../components/popular-post %>
      
      <% include ../components/category-tag %>
    </div>

    <div class="col-md-8 front-page__content front-page--right">
      <% include ../components/front-news %>
    </div>
  </div>
</div>