<div class="container">
  <div class="row">
    <div class="col-md-4">
      <% include ../components/search-article %>

      <% include ../components/popular-post %>
      
      <% include ../components/category-tag %>
    </div>

    <div class="col-md-8">
      <% include ../components/front-news %>
    </div>
  </div>
</div>