<section class="popular-post">
  <h3 class="popular-post__title popular-post__title--secondary">Popular <b>Post</b></h3>
  
  <% include ../components/popular-post %>
  <% include ../components/popular-post %>
  <% include ../components/popular-post %>
  <% include ../components/popular-post %>
</section>