<section class="header-top hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul class="social-media social-media-header list-unstyled list-inline">
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        </ul>
        <ul class="top-info list-unstyled list-inline hidden-sm">
          <li><a href=""><i class="fa fa-envelope"></i> <span>henryeka67@gmail.com</span></a></li>
          <li><a href=""><i class="fa fa-phone"></i> <span>(+62) 876 xxx 8789</span></a></li>
        </ul>
      </div>
      <div class="col-md-6 text-right">
        <select name="languange" class="select2-lang">
          <option value="">English</option>
          <option value="">Indonesia</option>
        </select>
        <ul class="nav navbar-nav navbar-right pull-right member-header" id="member-header">
          <li class="member-header-search">
            <form role="search" class="navbar-left member-form--search pull-left hidden-xs">
              <input type="text" placeholder="Search" class="form-control">
              <a href=""><i class="fa fa-search"></i></a>
            </form>
          </li>
          <li class="dropdown">
            <a href="#" data-target="#" class="dropdown-toggle member-header-notif" data-toggle="dropdown" aria-expanded="true">
              <i class="fa fa-bell"></i> <span class="badge badge-xs badge-danger">3</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-lg">
              <li class="notif-title">
                <span class="label label-default pull-right">New 3</span>Notification
              </li>
              <li class="list-group notif-list">
                <a href="javascript:void(0);" class="list-group-item">
                  <div class="media">
                    <div class="pull-left">
                      <em class="fa fa-money notif-primary"></em>
                    </div>
                    <div class="media-body">
                      <h5 class="media-heading">A new order has been placed A new order has been placed</h5>
                      <p class="">
                        <small>There are new settings available</small>
                      </p>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="list-group-item text-right">
                  <small class="">See all notifications</small>
                </a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="" class="dropdown-toggle member-header-profile" data-toggle="dropdown" aria-expanded="false">
              <img src="images/member/avatar.jpg" alt="user-img" class="img-circle">
            </a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)"><i class=""></i> Profile</a></li>
              <li><a href="javascript:void(0)"><i class=""></i> Settings</a></li>
              <li><a href="javascript:void(0)"><i class=""></i> Diary</a></li>
              <li><a href="javascript:void(0)"><i class=""></i> Partnership</a></li>
              <li><a href="javascript:void(0)"><i class=""></i> Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
