<section class="navigation">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li><a href="">Home</a></li>
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About Us</a>
            <ul class="dropdown-menu">
              <li><a href="">Company Profile</a></li>
              <li><a href="">Business</a></li>
            </ul>
          </li>
          <li><a href="">Trading</a></li>
          <li><a href="">Invesment</a></li>
          <li><a href="">Contest</a></li>
          <li><a href="">Partner</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>