<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">
        <img alt="Brand" src="images/logo.png">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="main-menu">
      <ul class="nav navbar-nav">
        <li class="">
          <a href="homepage.html">Home</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="about.html">Company Profile</a></li>
            <li><a href="businnes.html">Business</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Trading <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="trading-real-account.html">Real Account</a></li>
            <li><a href="trading-demo-account.html">Demo Account</a></li>
            <li><a href="trading-instruments.html">Trading Instrument</a></li>
            <li><a href="trading-platforms.html">Trading Platform</a></li>
            <li><a href="trading-payment.html">Payment Method</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Invesment <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="investment-program-01.html">Investment Program #1</a></li>
            <li><a href="investment-program-02.html">Investment Program #2</a></li>
          </ul>
        </li>
        <li><a href="contest.html">Contest</a></li>
        <li><a href="partnership.html">Partner</a></li>
      </ul>
    </div>
  </div>
</nav>