.category-tag {
  padding-top: 40px;
  &__title {
    font-family: $font-family-roboto;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid #babcbc;
    margin-top: 0;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
}

.tag-item {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 6px;
  padding: 10px 15px;
  font-family: $font-family-roboto;
  font-weight: $font-semibold;
  font-size: 14px;
  color: #656464;
  background-color: #dedede;
  line-height: 1.2;
  
  &:hover,
  &:focus,
  &-active {
    background-color: $orange;
    color: #fff;
  }
}


