.generate-new-password {
  padding: 15% 0;
  padding: 20vh 0;
  &-content {
    padding: 40px 60px 40px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border: 1px solid #f4f4f4;
  }
  &__title {
    margin-top: 0;
    font-family: montserrat;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 60px;
    letter-spacing: 0.7px;
  }
}
