.header-top {
  background-color: #05950d;
  color: #fff;

  a {
    color: #fff;
  }
}

.social-media {
  float: left;
  margin-bottom: 0;
}

.top-info  {
  float: left;
  margin-bottom: 0;
  a {
    color: #fff;
  }
}