.news--items {
  width: 300px;
  margin-right: 10px;
  &:nth-of-type(2n) {
    margin-right: 0;
  }
}

.news-slider {
  .slick-next,
  .slick-prev {
    z-index: 2;
    &:before {
      font-size: 40px;
    }
  }
  .slick-prev {
    left: 10px;
  }
  .slick-next {
    right: 30px;
  }
}

.news-box {
  margin-bottom: 10px;
  main {
    background-color: #f3f3f3;
    padding: 20px;
    margin-bottom: 0;
    h4 {
      font-size: 16px;
      font-family: $font-family-roboto;
      font-weight: 600;
      text-transform: uppercase;
      color: green;
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
  footer {
    background-color: #f3f3f3;
    padding: 0 20px 20px;
    margin-top: 0;
  }
}

.news-conversation {
  list-style: none;
  margin-bottom: 15px;
  padding-left: 0;
  color: #b3b3b3;
  font-family: $font-family-roboto;
  display: flex;
  justify-content: space-between;
  li {
    display: inline-block;
  }
}

.conversation-icon {
  cursor: pointer;
  padding: 0 2px;
  &:hover {
    color: $orange;
  }
  i {
    width: 18px;
    font-size: 16px;
    line-height: 15px;
    text-align: center;
  }
}

.news-post-data {
  margin-bottom: 15px;
}

.post-time {
  margin-right: 10px;
  display: inline-block;
  color: #676767;
}

.post-author {
  display: inline-block;
  a {
    color: $orange;
  }
}

.btn-read-more {
  padding: 8px 20px;
  transition: all 0.5s ease;
  font-family: $font-family-roboto;
  &:focus,
  &:hover {
    background-color: $green;
  }
}

.news-seperator {
  margin-left: -20px;
}

.news-comment {
  &__headtitle {
    color: #cfcfcf;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
  }
  &-field {
    margin-bottom: 10px;
    textarea {
      border: 1px solid #ededed;
      border-radius: 8px;
      padding: 10px;
      width: 100%;
    }
  }
  &-action {
    text-align: right;
    .btn {
      padding: 8px 25px;
    }
  }
}

.news-like {
  font-family: 'Open Sans', sans-serif;
}

.news-headline {
  margin: 0 0 20px;
  color: $green;
  font-family: $font-family-roboto;
  font-weight: $font-semibold;
  font-size: 18px;
  letter-spacing: 0.7px;
  line-height: 24px;
  text-transform: uppercase;
  &__image {
    margin-bottom: 40px;
  }
  &-action {
    margin-bottom: 40px;
  }
}

.news-meta {
  margin-bottom: 30px;
  font-family: $font-family-roboto;
  font-weight: $font-light;
  letter-spacing: 0.4px;
  color: #303030;
  &__time {
    margin-right: 30px;
  }
  &__author {
    a {
      color: $orange;
      font-weight: $font-semibold;
    }
  }
}

.news__content {
  &--full {
    color: #626161;
    font-size: 14px;
    line-height: 24px;
    margin-top: 30px;
    p {
      margin-bottom: 30px;
      font-family: 'Open Sans', sans-serif;
    }
  }
  &--headline {
    color: #7d7d7d;
    margin-bottom: 40px;
  }
  &--article {
    color: #7d7d7d;
  }
}

.news-article {
  margin-top: 40px;
  &__headline {
    margin-top: 0;
    font-size: 16px;
    font-family: 'montserrat', sans-serif;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 15px;
    color: $green;
  }
  .news-meta {
    margin-bottom: 15px;
  }
}

.news-like {
  &__action {
    color: #333333;
    cursor: pointer;
    &.active {
      i {
        color: red;
      }
    }
  }
}

.news-share {
  @include clearfix();
  .social-link {
    float: right;
  }
  &__item {
    display: table-cell;
    padding-left: 10px;
  }
}

.social-link {
  &--share {
    i {
      border-right: 1px solid #ccc;
      padding: 5px 5px;
      width: 30px;
      height: 30px;
      float: left;
      font-size: 20px;
    }
    span {
      padding: 9px 10px;
      line-height: 1;
      float: left;
      font-family: Open Sans,sans-serif;
      font-size: 12px;
    }
  }
}
