.our-services {
  &-box {
    width: 230px;
    height: 130px;
    text-align: center;
    background-color: #fff;
  }
  &__icon {
    padding: 20px 0 10px;
  }
  &__label {
    color: #05950d;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    padding: 15px 0;
  }
}
