.parallax-window {
  min-height: 300px;
  background: transparent;

  &--news {
    min-height: 300px;
    background: transparent;
    padding-top: 15vh;

    .breadcrumb {
      padding-top: 12vh;
    }
  }
}

.parallax {
  &__title {
    color: $green;
    font-family: $font-family-roboto;
    font-weight: $font-bold;
    font-size: 16px;
  }
  &__desc {
    color: #fff;
    font-size: 14px;
  }
}
