.parallax-window {
  min-height: 300px;
  background: transparent;
  &--news,
  &--about,
  &--businnes {
    padding-top: 15vh;
  }
  &--partnership {
    padding-top: 15vh;
  }
  &--contest {
    min-height: 307px;
    padding-top: 70px;
  }
  &--trading-instrument,
  &--trading-platforms,
  &--trading-payment {
    [class*=col-md] {
      padding-top: 70px;
    }
    h2 {
      font-family: $font-family-roboto;
      font-size: 16px;
      line-height: 24px;
      color: $orange;
    }
    p {
      font-family: $font-family-roboto;
      font-weight: 300;
      font-size: 14px;
      line-height: 24px;
      color: #fff;
    }
  }
  @media (min-width: $screen-desktop) {
    [class*="col-md"] {
      height: 100%;
      min-height: 300px;
      position: relative;
    }

    .breadcrumb {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

.parallax {
  &-box {
    background-color: #fbb600;
    background-color: rgba(251, 182, 0, 0.5);
    width: 277px;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    h4 {
      background-color: #fff;
      color: $green;
      margin: -10px -10px 10px;
      padding: 10px;
      font-family: $font-family-roboto;
      font-weight: bold;
      font-size: 16px;
      line-height: 1.33;
    }
    ul {
      margin-bottom: 0;
    }
    li {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__title {
    color: $green;
    font-family: $font-family-roboto;
    font-weight: $font-bold;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0 rgba(125, 125, 135, 0.7);
  }
  &__desc {
    font-family: $font-family-roboto;
    color: #fff;
    font-size: 18px;
    line-height: 1.3;

    &--yellow {
      color: #fbb600;
    }
  }
}
