
.select2-results {
  background-color: #fff;
  &__option {
    color: #05950d;
    font-family: $font-family-roboto;
    font-weight: 300;
  }
}


.select2-dropdown {
  border: none;
  border-radius: 0;
  background-color: transparent;
  &.select2-result-grey {
    background-color: #ebebeb;
    .select2-results {
      background-color: #ebebeb;
      color: #606060;
    }
  }
}

.select2-container--default {

  .select2-result-grey {
    .select2-results__option {
      color: #606060;
      font-family: $font-family-montserrat;
      font-weight: 400;
      font-size: 14px;
      padding: 12px;
      text-align: center;
      
    }
    .select2-results__option--highlighted,
    .select2-results__option[aria-selected=true] {
      background-color: #1db7d8;
      color: #fff;
    }
  }

  .select2-result-orange {
    .select2-results__option {
      color: #606060;
      font-family: $font-family-montserrat;
      font-weight: 400;
      font-size: 14px;
      padding: 12px;
      text-align: center;
    }
    .select2-results__option--highlighted,
    .select2-results__option[aria-selected=true] {
      background-color: $orange;
      color: #fff;
    }
  }

  .select2-result-lang {
    .select2-results__option--highlighted,
    .select2-results__option[aria-selected=true] {
      background-color: $orange;
      color: #fff;
    }
  }
}