:focus,
.btn:focus {
  outline: none;
}

.navbar {
  margin-bottom: 0;
  > .container {
    .navbar-brand {
      @media (min-width: $screen-sm-min) {
        margin-left: 0;
      }
    }
  }
}

.navbar-brand {
  padding: 10px;
}

.navbar-default {
  .navbar-nav {
    > li {
      > a {
        color: $green;
        font-family: $font-family-roboto;
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 18px;
        padding-left: 35px;
        padding-right: 35px;
        border-bottom: 3px solid #fff;
        @media (max-width: $screen-sm-max) {
          padding-right: 15px;
          padding-left: 15px;
        }
        &:hover,
        &:focus {
          color: $orange;
          border-color: $orange;
        }
      }
    }
    > .open {
      > a {
        background-color: transparent;
        color: $orange;
        &:focus,
        &:hover {
          background-color: transparent;
          color: $orange;
        }
      }
    }
    > .active {
      > a {
        background-color: transparent;
        color: $orange;
        border-color: $orange;
        &:focus,
        &:hover {
          background-color: transparent;
          color: $orange;
        }
      }
    }
  }
}

.dropdown-menu {
  padding: 0;
  > li {
    > a {
      padding: 0 20px;
      line-height: 32px;
      color: $green;
      font-size: 14px;
      font-family: $font-family-roboto;
      border-top: 1px solid #edefef;
      &:focus,
      &:hover {
        color: #fff;
        background-color: $orange;
      }
    }
  }
}

.caret-up {
  width: 0;
  height: 0;
  border-left: 4px solid rgba(0, 0, 0, 0);
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-bottom: 4px solid;
  display: inline-block;
  margin-left: 2px;
  vertical-align: middle;
}

.headtitle {
  @include headtitle();
}

.headtitle-left {
  @include headtitle();
  text-align: left;
  color: #070707;
}

.subheadtitle {
  text-align: center;
  color: #484848;
  font-family: $font-family-roboto;
  font-weight: 300;
  font-size: 14px;
  margin: 5px 0 30px;
}

.headline {
  @include headline();
  display: flex;
  flex-flow: wrap row;
  .icons {
    margin-left: 10px;
  }
}

.headline-lower {
  @include headline();
  text-transform: capitalize;
}

.subheadline {
  @include subheadline();
}

.headtitle-list {
  font-family: $font-family-roboto;
  font-size: 18px;
  color: #4b4a4a;
  margin-bottom: 30px;
}

.bg-grafity {
  background-image: url("../images/bg-grafity.png"), url("../images/bg-phones.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center 40px, center bottom;
}

.bg-graffic {
  background-image: url("../images/bg-grafity.png");
  background-repeat: no-repeat;
  background-position: center 40px;
}

.seperator {
  &--full {
    .icons {
      width: 100%;
    }
  }
}

.breadcrumb {
  font-family: $font-family-roboto;
  font-weight: $font-semibold;
  font-size: 14px;
  text-align: right;
}

.form-control {
  border-color: #dddddd;
  box-shadow: none;
}

.btn-primary {
  &:hover,
  &:focus {
    background-color: $green;
  }
}

.btn-success {
  &:hover,
  &:focus {
    background-color: $orange;
  }
}

.pagination {
  margin: 40px 0 0;
  > li {
    a,
    span {
      margin-left: 5px;
      margin-right: 5px;
    }
    &:first-child {
      > a,
      > span {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }
    &:last-child {
      > a,
      > span {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}

.seperator-form {
  position: relative;
  text-align: center;
  margin: 20px 0;
  &:before {
    display: block;
    content: "";
    border-bottom: 1px solid #ccc;
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    z-index: 1;
  }
  span {
    font-size: 13px;
    text-transform: uppercase;
    font-family: $font-family-montserrat;
    color: #777777;
    display: inline-block;
    background-color: #fff;
    padding: 0 15px;
    z-index: 2;
    position: relative;
    line-height: 1;
  }
}

.btn-box {
  border: none;
  background: none;
  padding: 0;
}