.mbs {
  margin-bottom: 10px;
}

.mbm {
  margin-bottom: 20px;
}

.mbl {
  margin-bottom: 40px;
}

.mts {
  margin-top: 10px;
}

.mtm {
  margin-top: 20px;
}

.mtl {
  margin-top: 40px;
}

.block-center {
  margin: 0 auto;
}

.color-white {
  color: #fff;
}