@mixin icon-large {
  width: 50px;
  height: 50px;
}

@mixin icon-small {
  width: 24px;
  height: 20px;
}

@mixin icon-benefit {
  width: 60px;
  height: 40px;
}

@mixin icon-trading {
  width: 60px;
  height: 60px;
}

.icons {
  display: inline-block;
  background-image: url("../images/icon-sprites.png");
  background-repeat: no-repeat;
  &--block {
    display: block;
    margin: 15px 0 20px;
  }
  &--computers {
    @include icon-large();
    background-position: -10px -95px;
    &.active {
      background-position: -10px -165px;
    }
  }
  &--moneys {
    @include icon-large();
    background-position: -80px -95px;
    &.active {
      background-position: -80px -165px;
    }
  }
  &--rewards {
    @include icon-large();
    background-position: -150px -95px;
    &.active {
      background-position: -150px -165px;
    }
  }
  &--graffic {
    @include icon-large();
    background-position: -220px -95px;
    &.active {
      background-position: -220px -165px;
    }
  }
  &--comment {
    width: 70px;
    height: 70px;
    background-position: -260px -10px;
  }
  &--gear {
    width: 70px;
    height: 70px;
    background-position: -177px -10px;
  }
  &--user {
    width: 70px;
    height: 70px;
    background-position: -93px -10px;
  }
  &--people {
    width: 70px;
    height: 70px;
    background-position: -9px -10px;
  }
  &--trade {
    @include icon-small();
    background-position: -397px -57px;
  }
  &--card {
    @include icon-small();
    background-position: -435px -57px;
  }
  &--money {
    @include icon-small();
    background-position: -356px -20px;
  }
  &--computer {
    @include icon-small();
    background-position: -436px -20px;
  }
  &--payment {
    @include icon-small();
    background-position: -356px -57px
  }
  &--partner {
    @include icon-small();
    background-position: -396px -20px;
  }
  &--signin {
    width: 60px;
    height: 60px;
    background-position: -496px -91px;
  }
  &--account {
    width: 60px;
    height: 60px;
    background-position: -426px -91px;
  }
  &--fee {
    width: 60px;
    height: 60px;
    background-position: -286px -91px;
  }
  &--contest {
    width: 60px;
    height: 60px;
    background-position: -356px -91px;
  }
  &-benefit {
    &--analytics {
      @include icon-benefit();
      background-position: -290px -160px;
    }
    &--materials {
      @include icon-benefit();
      background-position: -350px -160px;
    }
    &--partners {
      @include icon-benefit();
      background-position: -410px -160px;
    }
    &--statistics {
      @include icon-benefit();
      background-position: -470px -160px;
    }
    &--contests {
      @include icon-benefit();
      background-position: -530px -160px;
    }
  }
  &-trading {
    &--registration {
      background-position: -170px -235px;
      @include icon-trading();
    }
    &--access {
      background-position: -90px -235px;
      @include icon-trading();
    }
    &--trading {
      background-position: -10px -235px;
      @include icon-trading();
    }
    &--opening {
      background-position: -250px -235px;
      @include icon-trading();
    }
    &--deposit {
      background-position: -330px -235px;
      @include icon-trading();
    }
    &--trading-open {
      background-position: -410px -235px;
      @include icon-trading();
    }
  }
  &--seperator {
    background-image: url("../images/icon-seperator.png");
    height: 20px;
    background-position: center;
    &--small {
      background-size: 150px;
      width: 99px;
    }
    &--medium {
      width: 235px;
    }
  }
  &--orange {
    color: $orange;
  }
  &--gray {
    color: #ebebeb;
  }
}

.icon-trading--mac {
  background: url('../images/trading-mac.png') no-repeat center center;
  display: inline-block;
  width: 382px;
  height: 230px;
  background-size: contain;
}

// .icon-trading--android {
//   background: url('../images/trading-android.png') no-repeat 78% 40px;
// }

// .icon-trading--ios {
//   background: url('../images/trading-comp.png') no-repeat right center;
// }