.businnes {
  &-content {
    padding: 40px 20px;
    &--right {
      border-left: 1px solid #babcbc;
    }
    p {
      font-family: $font-family-roboto;
      font-weight: 300;
      font-size: 14px;
      color: #070707;
      margin-bottom: 30px;
      line-height: 24px;
    }
  }
  &-gotolink {
    list-style: none;
    padding-left: 0;
    margin-bottom: 30px;
    li {
      border-bottom: 1px solid #babcbc;
      padding-right: 25px;
      padding-left: 5px;
      position: relative;
      &:after {
        display: inline-block;
        content: "\f105";
        font-family: "FontAwesome";
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -8px;
        margin-right: 10px;
      }
      &:hover {
        background-color: $orange;
        transition: all 0.5s ease;
        color: #fff;
        a {
          color: #fff;
        }
      }
    }
    a {
      display: block;
      text-transform: uppercase;
      font-family: $font-family-roboto;
      font-weight: 400;
      color: #a1a2a2;
      padding: 15px 0;
    }
  }
  &-participants {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    li {
      margin-bottom: 15px;
      font-family: $font-family-roboto;
      font-weight: 300;
      font-size: 14px;
      line-height: 1;
      color: #3b3c3c;
      i {
        font-size: 18px;
        color: $orange;
        margin-right: 5px;
        position: relative;
        top: 4px;
      }
    }
  }
}

.chart-info {
  list-style: none;
  padding-left: 0;
  margin-bottom: 30px;
  li {
    font-size: 14px;
    font-family: $font-family-roboto;
    font-weight: 300;
    margin-bottom: 10px;
  }
  i {
    margin-right: 5px;
  }
}
