.contest {
  &-section {
    &--step {
      background: url('../images/bg-contest-02.png') no-repeat center bottom;
      padding: 44px 0;
    }
    &--about {
      padding: 40px 0;
      p {
        font-size: 14px;
        font-family: $font-family-roboto;
        font-weight: 300;
        color: #787171;
        line-height: 1.4;
        text-align: justify;
      }
    }
    &--part {
      color: #fff;
      text-align: center;
      padding: 40px 0 15px;
      p {
        font-size: 14px;
        max-width: 70%;
        margin: 0 auto 30px;
      }
      .btn {
        font-size: 14px;
      }
    }
    &--terms {
      background: url('../images/bg-contest-04.png') no-repeat center top;
      background-size: cover;
      padding: 40px 0;
      p {
        font-size: 14px;
        color: #616363;
      }
    }
    &--desc {
      padding: 40px 0;
      p {
        font-size: 14px;
        color: #616363;
        margin-bottom: 30px;
      }
    }
  }
  &-step {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    &__item {
      
      a {
        color: #fff;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        display: block;
        padding: 15px;
        position: relative;
        background: url('../images/bg-border-serparate.svg') no-repeat left top, url('../images/bg-border-serparate.svg') no-repeat right top;
        font-family: $font-family-roboto;
        font-weight: 500;
        font-size: 18px;
        line-height: 1;
        min-width: 200px;
        text-align: center;
        transition: all 0.5s ease;
        &:hover {
          color: $orange;
          cursor: pointer;
        }
        &:after {
          display: block;
          content: "";
          border-bottom: 2px solid #fff;
          position: absolute;
          width: 67px;
          top: 50%;
          right: -57px;
          height: 0;
          margin-top: 0px;
        }
      }
      
      &:last-child {
        a:after {
          display: none;
        }
      }
    }
  }
  &__headline {
    @include headline();
  }
  &__subheadline {
    @include subheadline();
  }
  &-part {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    &__title {
      display: block;
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
      color: #fff;
      padding: 14px;
      font-family: $font-family-roboto;
      font-weight: 500;
      font-size: 16px;
      min-width: 200px;
      position: relative;
      background: url('../images/bg-border-serparate.svg') no-repeat left top, url('../images/bg-border-serparate.svg') no-repeat right top;
      &:after {
        display: block;
        content: "";
        border-bottom: 2px solid #fff;
        position: absolute;
        width: 61px;
        top: 50%;
        right: -53px;
        height: 0;
        margin-top: -1px;
      }
    }
    &__icons {
      display: block;
      margin-bottom: 10px;
    }
    &__item {
      &:last-child {
        .contest-part__title {
          &:after {
            display: none;
          }
        }
      }
    }
  }
}
