.company-link {
  width: (100%/6);
  float: left;
  padding-right: 15px;
  @media (max-width: $screen-sm-max) {
    float: none;
    width: 25%;
  }
  @media (max-width: $screen-xs-max) {
    width: 50%;
    &:nth-of-type(2n) {
      padding-right: 0;
      padding-left: 15px;
    }
  }
  &__title {
    font-family: roboto;
    color: #fff;
    margin-top: 0;
    margin-bottom: 15px;
  }
  &__list {
    li {
      margin-bottom: 5px;
    }
    a {
      color: #616363;
      &:hover {
        color: lighten(#616363, 40%);
      }
    }
  }
  &--large {
    width: 20%;
    @media (max-width: $screen-sm-max) {
      width: 25%;
    }
    @media (max-width: $screen-xs-max) {
      width: 50%;
    }
  }
  &--small {
    width: 13%;
    @media (max-width: $screen-sm-max) {
      width: 25%;
    }
    @media (max-width: $screen-xs-max) {
      width: 50%;
    }
  }
}

.footer {
  padding: 40px 0 30px;
  background-color: #2a2a2a;
  &-partner {
    padding-bottom: 15px;
    img {
      margin: 0 auto;
    }
  }
  &-top-link {
    padding: 15px 0 0;
    margin-bottom: 0;
    a {
      color: #fff;
      font-family: roboto;
      font-weight: 300;
      font-size: 14px;
      display: block;
      padding-bottom: 10px;
    }
  }
  &-social {
    padding: 15px 0;
    &__title {
      font-family: roboto;
      font-size: 11px;
      color: #616363;
      margin-top: 0;
      margin-bottom: 5px;
    }
  }
  &-company-link {
    padding: 15px 0 10px;
    @include clearfix;
    @media (max-width: $screen-sm-max) {
      display: flex;
      flex-flow: wrap row;
      align-items: baseline;
    }
  }
  &-copyright {
    padding: 15px 0 0;
    font-family: $font-family-roboto;
    line-height: 24px;
    b {
      color: #fff;
      font-weight: 500;
    }
    p {
      font-weight: 300;
      color: #757b7e;
    }
  }
  hr {
    border-color: #616363;
  }
}
