.member {
  background-color: #f5f5f5;
  &-top {
    &--shadow {
      box-shadow: 2px 0 10px rgba(210, 210, 210, 0.5);
      height: 10px;
      width: 100%;
      margin-top: -10px;
    }
  }
  &-header {
    &.navbar-nav {
      > li {
        > a {
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }
    &-search {
      a {
        position: absolute;
        top: 8px;
        right: 8px;
        color: #fff;
        font-size: 16px;
      }
    }
    &-notif {
      font-size: 16px;
      height: 40px;
      i {
        padding-top: 10px;
      }
      .badge {
        position: absolute;
        top: 3px;
        right: 0px;
        border-radius: 50%;
        min-width: 18px;
        min-height: 18px;
        line-height: 1.2;
      }
    }
    &-profile {
      img {
        border: 2px solid #edf0f0;
        height: 36px;
        width: 36px;
      }
    }
  }
  &-form {
    &--search {
      input {
        background-color: transparent;
        border: none;
        color: #fff;
        height: 40px;
        padding-right: 30px;
        &:focus {
          border-color: transparent;
          box-shadow: none;
        }
        @include placeholder {
          color: #fff;
        }
      }
    }
  }
  &-box {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    &-header {
      background-color: #e9e8e8;
      display: flex;
      justify-content: space-between;
      padding: 15px;
      margin-left: -15px;
      margin-right: -15px;
      margin-top: -15px;
      margin-bottom: 15px;
      h4 {
        margin: 0;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        color: #6a6a6a;
      }
    }
    &__top-link {
      color: #6a6a6a;
      text-decoration: underline;
      font-family: 'Open Sans', sans-serif;
    }
  }
  &--status {
    textarea {
      resize: none;
      border: none;
    }
  }
  &--news {
    &-list {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      li {
        border-bottom: 1px solid #e9e8e8;
        padding-bottom: 15px;
        margin-bottom: 15px;
      }
    }
    &__desc {
      font-weight: 400;
      color: #6a6a6a;
      display: block;
      font-size: 14px;
      line-height: 1.3;
      padding-left: 10px;
      padding-right: 10px;
    }
    &__time {
      display: block;
      text-align: right;
      color: #aaaaaa;
      font-size: 11px;
      line-height: 1.3;
      margin-bottom: 5px;
    }
  }
}

.notif {
  &-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 11px 20px 15px;
    color: #4c5667;
    font-family: $font-family-roboto;
  }
  &-list {
    margin-bottom: 0;
    .list-group-item {
      border: none;
      padding: 10px 20px;
    }
    em {
      width: 30px;
      text-align: center;
      height: 30px;
      line-height: 28px;
      border-radius: 50%;
      margin-top: 4px;
    }
    .media-body {
      display: inherit;
      width: auto;
      overflow: hidden;
      margin-left: 45px;
      h5 {
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        width: 100%;
        font-weight: normal;
        overflow: hidden;
      }
      p {
        color: #828282;
        margin-bottom: 0;
        line-height: 1.3;
      }
    }
  }
}
