.member {
  &-header {
    &.navbar-nav {
      > li {
        > a {
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }
    &-search {
      a {
        position: absolute;
        top: 8px;
        right: 8px;
        color: #fff;
        font-size: 16px;
      }
    }
    &-notif {
      font-size: 16px;
      height: 40px;
      i {
        padding-top: 10px;
      }
      .badge {
        position: absolute;
        top: 3px;
        right: 0px;
        border-radius: 50%;
        min-width: 18px;
        min-height: 18px;
        line-height: 1.2;
      }
    }
    &-profile {
      img {
        border: 2px solid #edf0f0;
        height: 36px;
        width: 36px;
      }
    }
  }
  &-form {
    &--search {
      input {
        background-color: transparent;
        border: none;
        color: #fff;
        height: 40px;
        padding-right: 30px;
        &:focus {
          border-color: transparent;
          box-shadow: none;
        }
        @include placeholder {
          color: #fff;
        }
      }
    }
  }
}

.notif {
  &-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 11px 20px 15px;
    color: #4c5667;
    font-family: $font-family-roboto;
  }
  &-list {
    margin-bottom: 0;
    .list-group-item {
      border: none;
      padding: 10px 20px;
    }
    em {
      width: 30px;
      text-align: center;
      height: 30px;
      line-height: 28px;
      border-radius: 50%;
      margin-top: 4px;
    }
    .media-body {
      display: inherit;
      width: auto;
      overflow: hidden;
      margin-left: 45px;
      h5 {
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        width: 100%;
        font-weight: normal;
        overflow: hidden;
      }
      p {
        color: #828282;
        margin-bottom: 0;
        line-height: 1.3;
      }
    }
  }
}