.news {
  &-content {
    padding-top: 90px;
    padding-bottom: 50px;
    &--right {
      border-left: 1px solid #babcbc;
      padding-left: 20px;
    }
    &--left {
      padding-right: 20px;
    }
  }
  
  &__title {
    &--primary {
      font-family: $font-family-roboto;
      margin-top: 0;
      margin-bottom: 30px;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600;
      line-height: 1.2;
      text-indent: 15px;
    }
    &--secondary {
      margin-top: 0;
      margin-bottom: 15px;
      font-family: $font-family-roboto;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 18px;
      border-bottom: 1px solid #babcbc;
      padding-bottom: 15px;
      b {
        font-weight: 600;
      }
    }
  }
}