.trading {
  .contens {
    color: #616363;
    font-family: $font-family-roboto;
    font-weight: 300;
    font-size: 14px;
  }
  &-step {
    background: url('../images/bg-contest-02.png') no-repeat bottom;
    background-size: cover;
    padding: 40px 0;
    &--list {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      display: flex;
      flex-flow: wrap row;
      justify-content: center;
    }
    &__item {
      min-width: 200px;
      text-align: center;
      margin-right: 4vw;
      &:last-child {
        margin-right: 0;
        .trading-step__label:after {
          display: none;
        }
      }
    }
    &__icons {
      display: inline-block;
      width: 60px;
      height: 60px;
      margin-bottom: 5px;
    }
    &__label {
      display: block;
      color: #fff;
      font-family: $font-family-roboto;
      font-weight: 500;
      font-size: 16px;
      border: 2px solid #fff;
      padding: 10px 20px;
      position: relative;
      &:after {
        display: block;
        content: "";
        border-bottom: 2px solid #fff;
        position: absolute;
        right: -4.4vw;
        width: 4.5vw;
        top: 50%;
      }
    }
  }
  &-registration {
    background-color: #efefef;
    .select2-selection--single {
      border-color: #e4e4e4;
      border-radius: 0;
      height: 34px;
      .select2-selection__rendered {
        line-height: 34px;
      }
    }
    p {
      padding-left: 30px;
    }
  }
}
