.trading {
  .contens {
    color: #616363;
    font-family: $font-family-roboto;
    font-weight: 300;
    font-size: 14px;
  }

  &-step {
    background: url('../images/bg-contest-02.png') no-repeat bottom;
    background-size: cover;
    padding: 40px 0;

    &--list {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      display: flex;
      flex-flow: wrap row;
      justify-content: center;
    }

    &__item {
      min-width: 200px;
      text-align: center;
      margin-right: 4vw;

      &:last-child {
        margin-right: 0;

        .trading-step__label:after {
          display: none;
        }
      }
    }

    &__icons {
      display: inline-block;
      width: 60px;
      height: 60px;
      margin-bottom: 5px;
    }

    &__label {
      display: block;
      color: #fff;
      font-family: $font-family-roboto;
      background: url('../images/bg-box-left.png') no-repeat left center, url('../images/bg-box-center.png') repeat-x left 3px, url('../images/bg-box-right.png') no-repeat right center;
      font-weight: 500;
      font-size: 16px;
      padding: 10px 20px;
      position: relative;

      &:after {
        display: block;
        content: "";
        position: absolute;
        width: 70px;
        height: 0;
        right: -65px;
        top: 50%;
        border-bottom: 2px solid #fff;
        margin-top: -1px;
      }
    }
  }

  &-registration {
    background-color: #efefef;

    .select2-selection--single {
      border-color: #e4e4e4;
      border-radius: 0;
      height: 34px;

      .select2-selection__rendered {
        line-height: 34px;
      }
    }

    p {
      padding-left: 30px;
    }
  }

  &-payment-table {
    background: url("../images/bg-world.png") no-repeat 50%;

    .trading-table-list--table {
      background-color: #f7f7f7;
      background-color: rgba(247, 247, 247, 0.4);

      > tbody {
        > tr {
          &:hover {
            background-color: transparent;
          }

          &:nth-of-type(2n+1) {
            background-color: #e5ebef;
            background-color: rgba(229, 235, 239, 0.4);
          }
        }
      }
    }

    p {
      padding-left: 0;
      font-family: $font-family-roboto;
      font-weight: 300;
      font-size: 14px;
      line-height: 24px;
      color: #2a2a2a;
    }
  }

  &-appstore {

    &--andro {
      min-height: 300px;
      background: transparent;
    }

    &--ios {
      min-height: 300px;
      background: transparent;
    }
  }
}

.table-prediction {
  width: 100%;
  font-size: 14px;
  margin-bottom: 30px;

  thead {
    background-color: $orange;
    color: #fff;
    font-family: $font-family-roboto;
    font-weight: 500;

    th {
      padding: 12px;
      line-height: 1;
      text-align: center;
      width: (80%/3);

      &:first-child {
        width: 20%
      }
    }
  }

  tbody {
    background-color: #fff;
    font-family: $font-family-roboto;
    font-weight: 300;
    color: #616363;

    tr {
      &:last-child {
        td {
          border-bottom: 0;
        }
      }
    }

    td {
      padding: 12px;
      line-height: 1.2;
      text-align: center;
      border-bottom: 1px solid #d2d4d4;
      vertical-align: top;

      &:first-child {
        text-align: left;
      }

      span {
        color: $green;
        display: block;
        margin-bottom: 5px;
      }
    }
  }

  tfoot {
    td {
      text-align: center;
      padding: 12px;
    }
  }
}
