<div class="row footer-social">
  <div class="col-md-5 clearfix col-sm-12">
    <h4 class="footer-social__title">Get MFXtrader on</h4>
    <a href="#" class="google-store"></a>
    <a href="#" class="apple-store"></a>
  </div>
  <div class="col-md-7 clearfix col-sm-12">
    <h4 class="footer-social__title">Follow us</h4>
    <ul class="social-link list-unstyled list-inline pull-left">
      <li><a href="" class="social-link__item facebook"><i class="fa fa-facebook"></i></a></li>
      <li><a href="" class="social-link__item twitter"><i class="fa fa-twitter"></i></a></li>
      <li><a href="" class="social-link__item youtube"><i class="fa fa-youtube"></i></a></li>
      <li><a href="" class="social-link__item instagram"><i class="fa fa-instagram"></i></a></li>
      <li><a href="" class="social-link__item pinterest"><i class="fa fa-pinterest"></i></a></li>
      <li><a href="" class="social-link__item linkedin"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="" class="social-link__item google-plus"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="" class="social-link__item wordpress"><i class="fa fa-wordpress"></i></a></li>
    </ul>
    <button class="social-btn-found btn btn-success pull-right"><i class="fa fa-bullhorn"></i><span>Found a mistake?</span></button>
  </div>
</div>