<div class="row footer-top-link">
  <div class="col-md-7">
    <ul class="list-unstyled row">
      <li class="col-md-3"><a href="">Open account</a></li>
      <li class="col-md-4"><a href="">Download terminal</a></li>
      <li class="col-md-5"><a href="">Get bonus</a></li>
      <li class="col-md-3"><a href="">Deposit account</a></li>
      <li class="col-md-4"><a href="">Open account</a></li>
      <li class="col-md-5"><a href="">Participate in competitions</a></li>
    </ul>
  </div>
  <div class="col-md-5">
    <ul class="row list-unstyled">
      <li class="col-md-6"><a href="">Subscribe to signals</a></li>
      <li class="col-md-6"><a href="">Invest</a></li>
      <li class="col-md-6"><a href="">Become signal provider</a></li>
      <li class="col-md-6"><a href="">Become partner</a></li>
    </ul>
  </div>
</div>