<div class="footer-company-link">
  <div class="company-link">
    <h4 class="company-link__title">Trade with us</h4>
    <ul class="company-link__list list-unstyled">
      <li><a href="#">Bonuses and promotions</a></li>
      <li><a href="#">Depositing/withdrawing</a></li>
      <li><a href="#">Trading platforms</a></li>
      <li><a href="#">Types of accounts</a></li>
    </ul>
  </div>
  <div class="company-link">
    <h4 class="company-link__title">Copy signals</h4>
    <ul class="company-link__list list-unstyled">
      <li><a href="#">What is MFX Copy?</a></li>
      <li><a href="#">Advantages of service</a></li>
      <li><a href="#">Rating of providers</a></li>
      <li></li>
    </ul>
  </div>
  <div class="company-link">  
    <h4 class="company-link__title">Invest</h4>
    <ul class="company-link__list list-unstyled">
      <li><a href="#">MFX Capital investments</a></li>
      <li><a href="#">Advantages of the program</a></li>
      <li><a href="#">Reports and presentations</a></li>
      <li><a href="#">PAMM-accounts</a></li>
    </ul>
  </div>
  <div class="company-link company-link--large">
    <h4 class="company-link__title">Participate in tournaments</h4>
    <ul class="company-link__list list-unstyled">
      <li><a href="#">Competitions timetable</a></li>
      <li><a href="#">Regular competitions</a></li>
      <li><a href="#">Freeroll competitions</a></li>
      <li><a href="#">Sit&Go competitions</a></li>
    </ul>
  </div>
  <div class="company-link">
    <h4 class="company-link__title">Become partner</h4>
    <ul class="company-link__list list-unstyled">
      <li><a href="#">Standard program</a></li>
      <li><a href="#">Multilevel program</a></li>
      <li><a href="#">CPA program</a></li>
      <li><a href="#">Materials for engagement</a></li>
    </ul>
  </div>
  <div class="company-link company-link--small">
    <h4 class="company-link__title">About company</h4>
    <ul class="company-link__list list-unstyled">
      <li><a href="#">Company history</a></li>
      <li><a href="#">MFX Broker awards</a></li>
      <li><a href="#">Social broker</a></li>
      <li><a href="#">Company licenses</a></li>
    </ul>
  </div>
</div>