<div class="footer-copyright row">
  <div class="col-md-4">
    <b>&copy; 2006-2016 MFX Broken</b>
  </div>
  <div class="col-md-8">
    <p>Information posted on the website is of general nature and is provided for information only.</p>
  </div>
</div>