<div class="footer-copyright row">
  <div class="col-md-3">
    <b>&copy; 2016 WCIFX</b>
  </div>
  <div class="col-md-9">
    <p>Information posted on the website is of general nature and is provided for information only.</p>
  </div>
</div>