<section class="category-tag">
  <h4 class="category-tag__title">Categories</h4>
  <div class="clearfix">
    <a href="#" class="tag-item tag-item-active">Trading</a>
    <a href="#" class="tag-item">Trading</a>
    <a href="#" class="tag-item">Competitions</a>
    <a href="#" class="tag-item">Contest</a>
    <a href="#" class="tag-item">Forex</a>
    <a href="#" class="tag-item">Investor</a>
    <a href="#" class="tag-item">Partnership</a>
    <a href="#" class="tag-item">Deposit</a>
    <a href="#" class="tag-item">Analysis</a>
    <a href="#" class="tag-item">Payment</a>
  </div>
</section>