<article class="news-article">
  <div class="row">
    <div class="col-md-4">
      <div class="news-article__picture">
        <img src="images/bg-news-article-01.jpg" class="img-responsive" alt="">
      </div>   
    </div>
    <div class="col-md-8">
      <h3 class="news-article__headline">Free VPS for trading with experts</h3>
      <div class="news-meta">
        <time class="news-meta__time">Mar 22, 2016</time>
        <spam class="news-meta__author">By : <a href="#">Admin TradeBankFX</a></spam>
      </div>
      <div class="news__content--article">
        <p class="text-justify">Dear Clients and Partners, We are pleased to inform you that Adamant Finance launched cooperation with Perfect Money. We constantly increase the number of payment methods in order to make your cooperation with us more comfortable.</p>
      </div>
    </div>
  </div>
</article>