<div class="news-headline__image">
  <img src="images/bg-diary-01.jpg" class="img-responsive" alt="">
</div>

<h3 class="news-headline">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>

<div class="news-meta">
  <time class="news-meta__time">Mar 22, 2016</time>
  <spam class="news-meta__author">By : <a href="#">Admin TradeBankFX</a></spam>
</div>

<div class="news__content--headline">
  <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
</div>

<div class="news-headline-action">
  <button type="button" class="btn btn-primary">Show more</button>
</div>

<hr class="news-seperator">