<section class="slider-homepage">
  <div class="slider-homepage-item" data-bg-image="images/slide-home-bg.jpg" style="background-image: url('images/slide-home-bg.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="silder-home-content">
            <h4>#01 - Create your own successful<br>trading team!</h4>
            <p>Earn using the experience of others!</p>
            <div class="slider-home-action">
              <button class="btn btn-success">Top 5 money managers</button>
              <button class="btn btn-warning">Register as an Investor</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-homepage-item" data-bg-image="images/slide-home-bg.jpg" style="background-image: url('images/slide-home-bg.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="silder-home-content">
            <h4>#02 - Create your own successful<br>trading team!</h4>
            <p>Earn using the experience of others!</p>
            <div class="slider-home-action">
              <button class="btn btn-success">Top 5 money managers</button>
              <button class="btn btn-warning">Register as an Investor</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-homepage-item" data-bg-image="images/slide-home-bg.jpg" style="background-image: url('images/slide-home-bg.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="silder-home-content">
            <h4>#03 - Create your own successful<br>trading team!</h4>
            <p>Earn using the experience of others!</p>
            <div class="slider-home-action">
              <button class="btn btn-success">Top 5 money managers</button>
              <button class="btn btn-warning">Register as an Investor</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-homepage-item" data-bg-image="images/slide-home-bg.jpg" style="background-image: url('images/slide-home-bg.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="silder-home-content">
            <h4>#04 - Create your own successful<br>trading team!</h4>
            <p>Earn using the experience of others!</p>
            <div class="slider-home-action">
              <button class="btn btn-success">Top 5 money managers</button>
              <button class="btn btn-warning">Register as an Investor</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="slider-homepage--action">
  <div class="slider-nav">
    <div class="container">
      <ul class="slider-nav-row slider-nav--action">
        <li class="col-md-3">
          <a class="slider-nav__headtitle" href="#trader">For Trader<span class="slider-nav__sublabel">Trading Accounts</span></a>
        </li>
        <li class="col-md-3">
          <a class="slider-nav__headtitle" href="#investor">For Investor<span class="slider-nav__sublabel">Investor Accounts</span></a>
        </li>
        <li class="col-md-3">
          <a class="slider-nav__headtitle" href="#manager">For Manager<span class="slider-nav__sublabel">Copy Accounts</span></a>
        </li>
        <li class="col-md-3">
          <a class="slider-nav__headtitle" href="#partner">For Partner<span class="slider-nav__sublabel">Partner Accounts</span></a>
        </li>
      </ul>
    </div>
  </div>
</section>
