<section class="slider-homepage">
  <div class="slider-homepage-item" data-bg-image="images/slide-home-bg.jpg" style="background-image: url('images/slide-home-bg.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="silder-home-content">
            <h4>Createyour own successful trading team!</h4>
            <p>Earn using the experience of others!</p>
            <div class="">
              <button class="btn btn-success">Top 5 money managers</button>
              <button class="btn btn-warning">Register as an Investor</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-homepage-item" data-bg-image="images/slide-home-bg.jpg" style="background-image: url('images/slide-home-bg.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="silder-home-content">
            <h4>Createyour own successful trading team!</h4>
            <p>Earn using the experience of others!</p>
            <div class="">
              <button class="btn btn-success">Top 5 money managers</button>
              <button class="btn btn-warning">Register as an Investor</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-homepage-item" data-bg-image="images/slide-home-bg.jpg" style="background-image: url('images/slide-home-bg.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="silder-home-content">
            <h4>Createyour own successful trading team!</h4>
            <p>Earn using the experience of others!</p>
            <div class="">
              <button class="btn btn-success">Top 5 money managers</button>
              <button class="btn btn-warning">Register as an Investor</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
