<tr>
  <td class="investment-statistic-table__trader">
    <img src="images/dummy-inv-trader.png" alt="">
    <div class="investment-statistic-table__trader-desc">
      <b>Lorem Ipsum</b><br>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </div>
  </td>
  <td><a href=""><i class="fa fa-line-chart fa-2x"></i></a></td>
  <td colspan="11" rowspan="" headers="">
    <table class="table-no-border">
      <tbody>
        <tr>
          <td><b>46.6k</b></td>
          <td>1,186</td>
          <td>578%</td>
          <td>39</td>
          <td><b>92%</b></td>
          <td><b class="text-warning">23%</b></td>
          <td>10.8k</td>
          <td>100</td>
          <td>21h</td>
          <td>45</td>
          <td>949</td>
        </tr>
        <tr>
          <td colspan="11" class="no-padding">
            <table class="table-no-border investment-statistic-table--table-child">
              <thead>
                <tr>
                  <th>Amount Following</th>
                  <th>Live Followers Profit (Last Month)</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><b>$647,859</b></td>
                  <td><b>$68,782</b></td>
                  <td><a href=""><i class="fa fa-commenting-o fa-2x"></i></a></td>
                  <td><button class="btn btn-primary">Follow</button></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>