<div class="trading-table-list">
  <div class="trading-table-list--country">
    <i class="flag flag-gb"></i>
  </div>
  <table class="table trading-table-list--table">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Headline</th>
        <th>Spread</th>
        <th>Swap/Long</th>
        <th>Swap/Short</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>AUDCAD.c</td>
        <td>Australian Dollar vs Canadian Dollar</td>
        <td>25.5</td>
        <td>0.6</td>
        <td>-8.6</td>
      </tr>
      <tr>
        <td>AUDCHF.c</td>
        <td>Australian Dollar vs Swiss Franc</td>
        <td>73.5</td>
        <td>-2.8</td>
        <td>-9.4</td>
      </tr>
      <tr>
        <td>AUDJPY.c</td>
        <td>Australian Dollar vs Japanese Yen</td>
        <td>54.3</td>
        <td>0.02</td>
        <td>-9.2</td>
      </tr>
      <tr>
        <td>AUDNZD.c</td>
        <td>Australian Dollar vs New Zealand Dollar</td>
        <td>81.9</td>
        <td>2.1</td>
        <td>-3.6</td>
      </tr>
        <td>AUDUSD.c</td>
        <td>Australian Dollar vs US Dollar</td>
        <td>44.8</td>
        <td>0.15</td>
        <td>-6.1</td>
      </tr>
    </tbody>
  </table>
</div>