<table class="table trading-table-list--table">
  <thead>
    <tr>
      <th>Method</th>
      <th>Currency</th>
      <th>Minimum deposit</th>
      <th>Comission deposit</th>
      <th>Time deposit</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>                   
      <td><img src="images/dummy-trading-payment.png" alt="Dummy Product" class="img-responsive"></td>
      <td>EUR, USD</td>
      <td>$€ 1, 70 RUB / $€ 1, 70 RUB</td>
      <td>0% / 0.1% (min.0.25$, 0.18 €)</td>
      <td>Instantly / till 24 hours</td>
      <td><button type="button" class="btn btn-success">Begin</button></td>
    </tr>
    <tr>                   
      <td><img src="images/dummy-trading-payment.png" alt="Dummy Product" class="img-responsive"></td>
      <td>EUR, USD</td>
      <td>$€ 1, 70 RUB / $€ 1, 70 RUB</td>
      <td>0% / 0.1% (min.0.25$, 0.18 €)</td>
      <td>Instantly / till 24 hours</td>
      <td><button type="button" class="btn btn-success">Begin</button></td>
    </tr>
    <tr>                   
      <td><img src="images/dummy-trading-payment.png" alt="Dummy Product" class="img-responsive"></td>
      <td>EUR, USD</td>
      <td>$€ 1, 70 RUB / $€ 1, 70 RUB</td>
      <td>0% / 0.1% (min.0.25$, 0.18 €)</td>
      <td>Instantly / till 24 hours</td>
      <td><button type="button" class="btn btn-success">Begin</button></td>
    </tr>
    <tr>                   
      <td><img src="images/dummy-trading-payment.png" alt="Dummy Product" class="img-responsive"></td>
      <td>EUR, USD</td>
      <td>$€ 1, 70 RUB / $€ 1, 70 RUB</td>
      <td>0% / 0.1% (min.0.25$, 0.18 €)</td>
      <td>Instantly / till 24 hours</td>
      <td><button type="button" class="btn btn-success">Begin</button></td>
    </tr>
    <tr>                   
      <td><img src="images/dummy-trading-payment.png" alt="Dummy Product" class="img-responsive"></td>
      <td>EUR, USD</td>
      <td>$€ 1, 70 RUB / $€ 1, 70 RUB</td>
      <td>0% / 0.1% (min.0.25$, 0.18 €)</td>
      <td>Instantly / till 24 hours</td>
      <td><button type="button" class="btn btn-success">Begin</button></td>
    </tr>
    <tr>                   
      <td><img src="images/dummy-trading-payment.png" alt="Dummy Product" class="img-responsive"></td>
      <td>EUR, USD</td>
      <td>$€ 1, 70 RUB / $€ 1, 70 RUB</td>
      <td>0% / 0.1% (min.0.25$, 0.18 €)</td>
      <td>Instantly / till 24 hours</td>
      <td><button type="button" class="btn btn-success">Begin</button></td>
    </tr>
    <tr>                   
      <td><img src="images/dummy-trading-payment.png" alt="Dummy Product" class="img-responsive"></td>
      <td>EUR, USD</td>
      <td>$€ 1, 70 RUB / $€ 1, 70 RUB</td>
      <td>0% / 0.1% (min.0.25$, 0.18 €)</td>
      <td>Instantly / till 24 hours</td>
      <td><button type="button" class="btn btn-success">Begin</button></td>
    </tr>
  </tbody>
</table>