<div class="trading-table-choose">
                               
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#classic" aria-controls="classic" role="tab" data-toggle="tab">Classic</a>
    </li>
    <li role="presentation">
      <a href="#marketpro" aria-controls="marketpro" role="tab" data-toggle="tab">MarketPro</a>
    </li>
    <li role="presentation">
      <a href="#marketprime" aria-controls="marketprime" role="tab" data-toggle="tab">MarketPrime</a>
    </li>
    <li role="presentation">
      <a href="#copyfx" aria-controls="copyfx" role="tab" data-toggle="tab">CopyFx</a>
    </li>
    <li role="presentation">
      <a href="#signalfx" aria-controls="signalfx" role="tab" data-toggle="tab">SignalFx</a>
    </li>
    <li role="presentation">
      <a href="#bonus50" aria-controls="bonus50" role="tab" data-toggle="tab">Bonus50</a>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="classic">
      <table class="table">
        <tbody>
          <tr>
            <td>Forex</td>
            <td>
              <label class="trading-table-choose-control">
                <input type="checkbox" class="trading-control-input">
                <span class="trading-control-indicator"></span>
                <span class="trading-control-description">All</span>
              </label>
              <label class="trading-table-choose-control">
                <input type="checkbox" class="trading-control-input">
                <span class="trading-control-indicator"></span>
                <span class="trading-control-description">AUD/***5</span>
              </label>
              <label class="trading-table-choose-control">
                <input type="checkbox" class="trading-control-input">
                <span class="trading-control-indicator"></span>
                <span class="trading-control-description">CAD/***2</span>
              </label>
              <label class="trading-table-choose-control">
                <input type="checkbox" class="trading-control-input">
                <span class="trading-control-indicator"></span>
                <span class="trading-control-description">CHF/***1</span>
              </label>
              <label class="trading-table-choose-control">
                <input type="checkbox" class="trading-control-input">
                <span class="trading-control-indicator"></span>
                <span class="trading-control-description">EUR/***7</span>
              </label>
              <label class="trading-table-choose-control">
                <input type="checkbox" class="trading-control-input">
                <span class="trading-control-indicator"></span>
                <span class="trading-control-description">GBP/***6</span>
              </label>
              <label class="trading-table-choose-control">
                <input type="checkbox" class="trading-control-input">
                <span class="trading-control-indicator"></span>
                <span class="trading-control-description">NZD/***4</span>
              </label>
              <label class="trading-table-choose-control">
                <input type="checkbox" class="trading-control-input">
                <span class="trading-control-indicator"></span>
                <span class="trading-control-description">USD/***3</span>
              </label>
            </td>
          </tr>
          <tr>
            <td>Metals</td>
            <td>
              <label class="trading-table-choose-control">
                <input type="checkbox" class="trading-control-input">
                <span class="trading-control-indicator"></span>
                <span class="trading-control-description">All</span>
              </label>
              <label class="trading-table-choose-control">
                <input type="checkbox" class="trading-control-input">
                <span class="trading-control-indicator"></span>
                <span class="trading-control-description">XPDUSD.c</span>
              </label>
              <label class="trading-table-choose-control">
                <input type="checkbox" class="trading-control-input">
                <span class="trading-control-indicator"></span>
                <span class="trading-control-description">XAUUSD.c</span>
              </label>
              <label class="trading-table-choose-control">
                <input type="checkbox" class="trading-control-input">
                <span class="trading-control-indicator"></span>
                <span class="trading-control-description">XPTUSD.c</span>
              </label>
              <label class="trading-table-choose-control">
                <input type="checkbox" class="trading-control-input">
                <span class="trading-control-indicator"></span>
                <span class="trading-control-description">XAGUSD.c</span>
              </label>
            </td>
          </tr>
        </tbody>
      </table>
      
    </div>
    <div role="tabpanel" class="tab-pane" id="marketpro">
      
    </div>
    <div role="tabpanel" class="tab-pane" id="marketprime">
      
    </div>
    <div role="tabpanel" class="tab-pane" id="copyfx">
      
    </div>
    <div role="tabpanel" class="tab-pane" id="signalfx">
      
    </div>
    <div role="tabpanel" class="tab-pane" id="bonus50">
      
    </div>
  </div>
</div>